<div id="footer"> 
	<ul id="nav">
		<li> <%= link_to "Super destaques", :controller => "super_highlights", :action => "index" %></li>
		<li> <%= link_to "Newsletter", :controller => "newsletters", :action => "index" %></li>
		<li> <%= link_to "Fale conosco", :controller => "contacts", :action => "index" %></li>
	</ul>
</div>