<div class="block">
  <div class="block_head">
    <div class="bheadl"></div>
      <div class="bheadr"></div>
          <h2>Seja bem vindo ao painel de administração do Portal da fono!</h1> 
  </div>    
  <div class="block_content">
		<p> <strong> <%= session[:admin_nome] %> </strong> , tem algumas coisas que você precisa saber: </p> 
		<div class="message info" style="display: block; "><p> Todos os campos que contém um <strong> * </strong> são de preenchimento obrigatório.  </p></div>
		<div class="message warning" style="display: block; "><p> Sua senha é pessoal e intransferível. Caso algum estranho tiver acesso a esse ambiente, todo o site Portal da fono pode estar em risco. Guarde sua senha em um lugar seguro. Caso tenha perdido sua senha, envie um email para mknparreira@gmail.com pedindo a substituição da mesma.  </p></div>
		<div class="message info" style="display: block; "><p> Se você tiver alguma sugestão, reclamação, encontrar algum erro ou ter alguma dúvida, envie um email para mknparreira@gmail.com </p></div>
		<div class="message warning" style="display: block; "><p> Esse ambiente ainda está em teste, poderâo ocorrer algumas falhas inesperadas.
		 Peço sua paciência neste início. </p></div>
		 <div class="message info" style="display: block; "><p> Aproveite o Portal da fono, ele é seu! </p></div>
  </div> 
  <div class="bendl"></div>
  <div class="bendr"></div>
</div>



