<div class="divider_thin"></div>
<div class="grid_15 suffix_1 content">
    <div class="cat_title">
        <h2>Artigos</h2> 
        <div class="clear"></div>
    </div>
    <div class="post-item">
        <div class="post-meta">
            <ul>
                <% if @articles.count > 0 %>
                    <% @articles.each do |article| %>
                        <li class="articles-list"> 
                            <p> <%= article.created_at.strftime("%d/%m/%Y") %> </p>
                            <%= link_to ( " <strong> #{article.titulo} </strong>" ).html_safe , article  %> 
                            <em> <%= article.subtitulo %></em>
                        <p> <em> por </em> <span class='author'> <%= article.author.nome %> </span> </p>
                    </li>
                    <% end %>
                <% else %>
                    <li class="not-found"> Nenhum artigo encontrado </li>
                <% end %>                   
            </ul>
        </div>
    </div>

</div>