<h2> Newsletters </h2>
<%= text_field_tag "email_newsletter", nil, {:id => "email_newsletter", :placeholder => "Digite seu e-mail"} %>
<%= submit_tag "Enviar", :type => 'button', :id => 'enviar_newsletter', :name => "enviar_newsletter" %>
<div id="newsletter-message"> </div>