<div class="proximo-evento-box">
	<h3> Agenda </h3>
	<div class="data-do-proximo-evento">
    	<h1>31</h1>
        <h6> OUT <br> 2012</h6>
    </div>
    <div class="texto-do-proximo-evento">
    	<p> XX Congresso Brasileiro de Fonoaudiologia </p>
    </div>
    <p class="link-para-proximo-evento"> <%= link_to "veja a agenda completa", "/agenda", :class=> "link-more" %> </p>
</div>	