<div class="proximo-evento-box">
	<h3> Agenda </h3>
	<div class="data-do-proximo-evento">
    	<h1>10</h1>
        <h6> MAY <br> 2012</h6>
    </div>
    <div class="texto-do-proximo-evento">
    	<p> Consectetur adipiscing elitenean ac odio metus. </p>
    </div>
    <p class="link-para-proximo-evento"> <%= link_to "veja a agenda completa", "/agenda", :class=> "link-more" %> </p>
</div>	