<div class="grid_8 sidebar">    
    <div class="newsletterBox">
        <div class="inner">
            <h3>Assine nossa Newsletter</h3>
            <%= text_field_tag "email_newsletter", nil, {:id => "email_newsletter", :placeholder => "DIGITE SEU E-MAIL", :class => "inputField"} %>    
            <%= submit_tag "Enviar", :type => 'button', :id => 'enviar_newsletter', :name => "enviar_newsletter", :class => "btn-arrow" %>
            <div class="newsletter_text"> 
                <div class="link-news-rss">
                    <div id="newsletter-message"> </div>
                </div>
            </div>    
        </div>
    </div>
    <%= render :partial => "partials/advertisement/adv300x250" %>
    <%# = render :partial => "partials/mais_comentados" %>
    <%= render :partial => "partials/proximo_evento" %>
</div>
