<div class="header_left">
    <div class="portal_da_fono_logo">  
        <%= link_to image_tag("portal_da_fono_logo.png", :height => '72', :width => '186', :alt => "Portal da fono", :title => "Portal da fono"), "/" %> 
    </div>
    <div class="logo_text"><h1>Portal da Fono</h1></div>
</div>    
<div class="header_right">  
    <% if current_user.present? %>
        <div class="box_login_with_facebook float_right">
            <p> 
                <%= image_tag current_user["url_image"],  :height => "30px", :class => "frame_left" %>  
                Seja bem vindo(a) <%= current_user["nome"] %>!, <span> <a href="/sair/"> sair </a> </span>
            </p>
        </div> 
        <% else %>
             <div class="facebook-login float_right"> 
                <a href="/auth/facebook"> &nbsp; </a>
            </div>
        <% end %>
    
</div>