<div class="header_left">
     <%= link_to image_tag("/images/logo.png", :height => '115', :width => '300', :alt => " "), "/" %>  
    <div class="logo_text"><h1>Portal da Fono</h1></div>
</div>    
<div class="header_right">    	
    <% if current_user.present? %>
        <div class="box_login_with_facebook float_right">
            <p> 
                <%= image_tag current_user["url_image"],  :height => "30px", :class => "frame_left" %>  
                Seja bem vindo(a) <%= current_user["nome"] %>!, <span> <a href="/sair/"> sair </a> </span>
            </p>
        </div> 
        <% else %>
             <div class="facebook-login float_right"> 
                <a href="/auth/facebook"> &nbsp; </a>
            </div>
        <% end %>
    
</div>