<div class="divider_thin"></div>
<div class="grid_15 suffix_1 content">
    <div class="cat_title">
        <h2>Dúvidas</h2> 
        <div class="clear"></div>
    </div>
    <div class="post-item">
        <div class="post-meta">
            <ul class="list_arrows">
                <% if @doubts.count > 0 %>    
                    <% @doubts.each do |doubt| %>
                        <li class="doubts-list"> <%= link_to (
                            "#{doubt.created_at.strftime("%d/%m/%Y")} - <strong> #{doubt.titulo} </strong> 
                             <em> por </em> <span class='author'> #{doubt.user.nome} </span>" ).html_safe , doubt, :class => "" %> </li>
                    <% end %> 
                <% else %>
                  <li class="not-found"> Nenhuma dúvida enviada </li>
              <% end %>                     
            </ul>
        </div>
    </div>

</div>