<div class="divider_thin"></div>
<div class="grid_15 suffix_1 content">
    <div class="cat_title linha_amarela">
        <h2>Crie sua dúvida</h2>
        <div class="clear"></div>
    </div>
    <div class="post-item">
        <div class="post-meta">
        	<% if current_user.present? %>
        		<%= render 'form' %>
        	<% else %>
    			<h4> Você precisa efetuar o cadastro para enviar suas dúvidas. O cadastro é gratuito! </h4>
        		<div class="block_doubt_facebook">
	            	<div class="facebook_btn-big">
	                	<a href="/auth/facebook"> Entre usando o Facebook </a>
	            	</div>
	            </div>	
        	<% end %>
            
        </div>
    </div>

</div>






