<div class="divider_thin"></div>
<div class="grid_15 suffix_1 content">
    <div class="cat_title linha_vermelha">
        <h2>Últimas notícias</h2> 
        <!-- <div class="sort"><a href="#">Popular</a> <a href="#" class="active">By Date</a></div> -->
        <div class="clear"></div>
    </div>
    <div class="post-item">
        <div class="post-meta">
            <ul>
                <% if @news.count > 0 %>    
                    <% @news.each do |news| %>
                        <li class="news-list"> <%= link_to (" <p> <em> #{news.created_at.strftime("%d/%m/%Y")} </em> | 
                            #{news.titulo}</p>" ).html_safe , news, :class => "" %> </li>
                    <% end %> 
                <% else %>
                  <li class="not-found"> Nenhuma notícia encontrada </li>
              <% end %>                     
            </ul>
        </div>
    </div>

</div>


