<div class="divider_thin"></div>
<div class="grid_15 suffix_1 content">
    <div class="cat_title linha_purpura">
        <h2>Fale conosco</h2>
	    <div class="clear"></div>
        
      
    </div>
      <p> Sua participação é muito importante para nós </p>
      <p id="notice"><%= notice %></p>
    <div class="post-item">
        <div class="post-meta">
            <%= render 'form' %>
        </div>
    </div>

</div>





