<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
			<h2>Editar fale conosco</h2>
	</div>
	<p class="breadcrumb"> <%= link_to 'Todos as mensagens', admin_contacts_path %>> &raquo; <strong>Formulário</strong> </p>		
	<div class="block_content">
		<%= render 'form' %>		
	</div>		
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>