<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>Agenda</h1> 
        <div class="clear"></div>
    </div>
    <div class="text">
        <div class="eve-month">
            <p class="colr float_left">Outubro / 2012</p>
            <p class="float_right">4 Events</p>
        </div>
        <div class="single-event">
            <div class="eve-date">
                <h1>26</h1>
                <h5>out<br>2012</h5>
            </div>
            <div class="eve-desc">
                <h4><a href="#">Consectetur adipiscing elitenean ac odio metus.</a></h4>
                <p class="time">08h30 – 11h00</p>
                <p class="localizacao-do-evento">Rio de Janeiro - RJ</p>
            </div>
            <div class="venu-map">
                <p class="colr">Sobre o evento</p>
                <p> <strong> Mais informações em: </strong> <a href="http://www.google.com.br" target="_blank"> google.com.br </a> </p>
                <p> <strong> Investimento: </strong> R$10,00 </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra. Phasellus nibh neque, lobortis et accumsan inturpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus bibendum tellus sit amet lobortis. Curabitur hendrerit fermentum imperdiet urabitur sodales metus quis odio porta pharetra.
                </p>
            </div>
        </div>
        


    </div>
</div>