<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>Anuncie</h1> 
        <div class="clear"></div>
    </div>
    <p> Faça parte do projeto Portal da fono. Ajude-nos a melhorar cada vez mais nossa ferramenta. </p>
    <p> Caso queira contratar algum plano ou tirar dúvias sobre os planos, entre em contato conosco: </p>
    <br />
    <p> <strong> Por telefone: </strong> (21) 9948-7658 (9h às 19h) </p>
    <p> <strong> Por Email: </strong> mknparreira@gmail.com </p>
    <p> <strong> Fale conosco: </strong>  portaldafono.com/faleconosco </p>
    <br />
    <p> Segue abaixo, os planos, uma descrição dos mesmos e seu respectivos preços. </p>
    <p> Parcelamos todos os valores em até <strong> 3 vezes sem juros. </strong>   </p>

    <div class="text">
        <h2> #cod001 - Superdestaque </h2>
        <blockquote>
            <div class="inner">
                <p>Destaque na página inicial do Portal da fono</p>
                <p> Tamanho: 960 x 325 </p>
                <h3> R$ 80,00 / mês </h3>
            </div>    
        </blockquote>
        <div>
            <p> exemplo de tamanho </p>  
            <div style="width:960px; height:325px; background:#cdc9c9;">&nbsp;</div>
        </div>    
    	<div class="divider_dots_full"></div>
        <br/>
        <h2> #cod002 - Banner topo </h2>
        <blockquote>
            <div class="inner">
                <p>Em todo o portal, será visualizado o banner no topo. Próximo a imagem Portal da fono.</p>
                <p> Tamanho: 728 x 90 </p>
                <h3> R$ 110,00 / mês </h3>
            </div>    
        </blockquote>
        <div class="adv_sidebar_300x250">
            <p> exemplo de tamanho </p>  
            <img alt=" " src="/images/temp/adv_728x90.gif"> 
        </div>  
        <div class="divider_dots_full"></div>
        <br/>
        <h2> #cod003 - Banner lateral </h2>
        <blockquote>
            <div class="inner">
                <p> Em todo o portal, será visualizado o banner ao lado direito, abaixo do box newsletter. </p>
                <p> Tamanho: 300 x 250 </p>
                <h3> R$ 80,00 / mês </h3>
            </div>    
        </blockquote>
        <div class="adv_125x125">
            <p> exemplo de tamanho </p>
            <img src="images/temp/adv_300x250.gif">
        </div>
        <div class="divider_dots_full"></div>
        <br/>
        <h2>#cod004 - Banner pequeno </h2>
        <blockquote>
            <div class="inner">
                <p>Inserção do banner em pontos determinados à escolha do comprador no Portal da fono. </p>
                <p> Tamanho: 125 x 125 </p>
                <h3> R$ 25,00 / mês </h3>
            </div>    
        </blockquote>
        <div class="adv_mid_468x60">
            <p> exemplo de tamanho </p>
            <img src="images/temp/adv_125x125.gif">
        </div> 
        <br/>
        <h2>#cod005 - Banner home </h2>
        <blockquote>
            <div class="inner">
                <p> Destaque na página inicial do Portal da fono </p>
                <p> Tamanho: 468 x 60 </p>
                <h3> R$ 40,00 / mês </h3>
            </div>    
        </blockquote>
        <div class="adv_mid_468x60">
            <p> exemplo de tamanho </p>
            <img src="images/temp/adv_468x60.gif" width="468" height="60" alt="">
        </div> 
        
    </div>
</div>