<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>Anuncie</h1> 
        <div class="clear"></div>
    </div>
    <div class="text">
        <h2>Banner header topo</h2>
        <blockquote>
            <div class="inner">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim   veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea   commodo consequat.Duis aute irure dolor in reprehenderit in voluptate   velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint   occaecat cupidatat non proident, sunt in culpa qui officia deserunt   mollit anim id est laborum.</p>
                <h3> R$ 200,00 por cpm </h3>
            </div>    
        </blockquote>
        <div class="adv_head_728x90">
            <p> exemplo de tamanho </p>    
            <img src="images/temp/adv_728x90.gif" width="728" height="90" alt="">
        </div>    
    	<div class="divider_dots_full"></div>
        <br/>
        <h2>Banner column  lateral</h2>
        <blockquote>
            <div class="inner">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim   veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea   commodo consequat.Duis aute irure dolor in reprehenderit in voluptate   velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint   occaecat cupidatat non proident, sunt in culpa qui officia deserunt   mollit anim id est laborum.</p>
                <h3> R$ 200,00 por cpm </h3>
            </div>    
        </blockquote>
        <div class="adv_sidebar_300x250">
            <p> exemplo de tamanho </p>  
            <img alt=" " height="250" src="/images/temp/adv_300x250.gif" width="300"> 
        </div>  
        <div class="divider_dots_full"></div>
        <br/>
        <h2>Mini-banner column  lateral</h2>
        <blockquote>
            <div class="inner">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim   veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea   commodo consequat.Duis aute irure dolor in reprehenderit in voluptate   velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint   occaecat cupidatat non proident, sunt in culpa qui officia deserunt   mollit anim id est laborum.</p>
                <h3> R$ 200,00 por cpm </h3>
            </div>    
        </blockquote>
        <div class="adv_125x125">
            <p> exemplo de tamanho </p>
            <img src="images/temp/adv_125x125.gif" width="125" height="125" alt="">
        </div>
        <div class="divider_dots_full"></div>
        <br/>
        <h2>Mini-banner home </h2>
        <blockquote>
            <div class="inner">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim   veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea   commodo consequat.Duis aute irure dolor in reprehenderit in voluptate   velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint   occaecat cupidatat non proident, sunt in culpa qui officia deserunt   mollit anim id est laborum.</p>
                <h3> R$ 200,00 por cpm </h3>
            </div>    
        </blockquote>
        <div class="adv_mid_468x60">
            <p> exemplo de tamanho </p>
            <img src="images/temp/adv_468x60.gif" width="468" height="60" alt="">
        </div> 
        
    </div>
</div>