<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>Como funciona as dúvidas no portal da fono?</h1> 
        <div class="clear"></div>
    </div>
    <div class="text">
    	<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut   odit aut fugit, Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam   dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis   suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at,   tincidunt nec, gravida vehicula, nisl. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc.</p>
    	<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut   odit aut fugit, Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam   dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis   suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at,   tincidunt nec, gravida vehicula, nisl. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc.</p>
    	<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut   odit aut fugit, Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam   dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis   suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at,   tincidunt nec, gravida vehicula, nisl. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc.</p>
    	<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut   odit aut fugit, Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam   dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis   suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at,   tincidunt nec, gravida vehicula, nisl. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc.</p>
    </div>
</div>





