<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>Tutorial para o uso da ferramenta dúvidas</h1> 
        <div class="clear"></div>
    </div>
    <div class="text">
        <p>Desenvolvemos uma ferramenta para que você possa tirar dúvidas com nossos profissionais. Nesse espaço, você poderá perguntar sobre procedimentos, cuidados ou prevenções envolvendo o mundo da fonoaudiologia. </p>
        <p>Se a sua dúvida for pertinente, será mostrada no portal e respondida na medida do possível. </p>
        <p>Você será avisado assim que sua dúvida for respondida. </p>
        <p><em>Lembramos que nem toda dúvida será respondida. Somente aquelas consideradas de grande importância para os outros usuários e para o próprio portal. </em> </p>
        <p>Nossa proposta é fazer essa ferramenta uma grande utilidade pública. </p>
        <p><strong> Procedimentos para o envio da sua dúvida:</strong> </p>
        <p> 1) - Primeiramente, você precisa efetuar seu cadastro no Portal da Fono. Utilizaremos seu login com o Facebook para facilitar esse procedimento e por acharmos que seja uma forma segura de autenticação. </p>
        <p> <em> É importante ressaltar que não existe nenhuma possibilidade de guardarmos sua senha. O Facebook libera seu nome, email, foto e possibilidade de publicar em sua linha de tempo. </em></p>
        <p> saiba mais em: <%= link_to "http://developers.facebook.com/docs/reference/login/basic-info/", "http://developers.facebook.com/docs/reference/login/basic-info/",
         :target=> "blank" %> </p>
        <p> 2) - Após o login efetuado, você terá o campo para escrever sua dúvida e outro para a explicação da mesma.</p>
        <p> Evite que sua dúvida seja muito extensa. Caso precise dar detalhes, use o campo de descrição da mesma. </p>
        <p> Somente o campo da dúvida será mostrada no portal. O outro campo é apenas para a explicação com mais detalhes sobre a dúvida enviada.</p>
        <p>Fique tranquilo pois seus dados, bem como o texto explicando sua dúvida, não será publicada.  </p>
        <p> 3) - Feito isso, sua dúvida será analisada e caso seja selecionada, um de nossos profissionais publicará a resposta.  </p>
        <p>Caso seja preciso, poderemos efetuar alguns ajustes no texto da sua dúvida, ou até mesmo entrar em contato através de email para adequação da mesma.   </p>
        <p> 4) - Você será avisado por email caso sua dúvida seja respondida. </p>
        <p> 5) - Você pode enviar quantas dúvidas desejar. </p>
        <p> Desde já, agradecemos sua participação. </p>
        <p> <%= link_to "clique aqui", "/duvidas" %> para voltar as dúvidas. </p>
    </div>
</div>





