<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>História da fonoaudiologia</h1> 
        <div class="clear"></div>
    </div>
    <div class="text">
       <p> A seguir, transcrevemos a matéria publicada no Jornal Brasileiro de Reabilitação - Órgão Oficial de Entidades da Reabilitação - Nº 4 - Volume IV - Edições 15 e 16 - Junho e Setembro de 1984. </p>
        <p> O estudo sincrônico da fonoaudiologia no Brasil e o histórico da profissão no mundo foram realizados através de um trabalho conjunto da APROFERJ e da
         SBL (hoje SOFERJ) com os seguintes fonoaudiólogos: Paulo Goulart, Sandra A . Goulart, Solange Issler, Marjorie Hasson, Mara Dantas. </p>
        <p> Em ocasião da regulamentação da profissão dos fonoaudiólogos no intuito de fornecer subsídios junto ao Poder Legislativo e Executivo a fim de aprovação
         da Lei 6965. </p>
        <h3> ESTUDO SINCRÔNICO - A FONOAUDIOLOGIA NO BRASIL </h3>
        <p> A Fonoaudiologia de hoje, sem renegar sua tradição, sua história, sua filosofia do passado é uma ciência estudada de forma sistemática nas universidades de 32 países do mundo. Seu fato - a linguagem patológica é pesquisado, cientificamente. A Fonoaudiologia não é mais simples técnica intuitiva e arte, ao contrário da idéia do seu fundador clássico - Demóstenes - que colocava seixos na boca para melhor articular sua gagueira; ou diante do mar bravio discursava inibindo, sem saber, o próprio feed-back auditivo e o pressentido medo de vozes da multidão; ou postava-se diante de uma espada que lhe roçava o peito, a fim de auto-regular suas sincinesias posturais e corporais; ou aprendia com Sátiro, a intencionalidade do humor sútil, a crítica dirigida inteligentemente, o poder da palavra que influenciava o povo de Atenas, que o confirmava Homem pensante, racional e "loquens". </p>
        <p> Os Fonoaudiólogos estudam no nosso século XX, o processo de comunicação patológica no homem, a linguagem humana e seus comportamentos. Há outros profissionais, foniatras, que estudam a fonação, Laringe, as cordas vocais e suas afecções. Temos que explicar bem seus campos científicos para que não se pense que a terapêuta e um médico fazem a mesma coisa; ou que jamais possam conviver, pois num futuro próximo poderia haver uma inter-secção fatal de suas profissões, ou que haja hoje, superimposição de funções. </p>
        <p> Numa projeção probalística, a Foniatria irá se dirigir a microcirurgia e ao estudo oncológico da laringe, pela freqüência atual e desconcertante do câncer da laringe; ao implante e rejeição de órgãos, possivelmente. A Fonoaudiologia irá se dirigir ao estudo do pensamento verbal; à teoria que correlacionará percepção - produção do discurso linguístico; à Audiologia e provas fonoaudiológicas de disfunções centrais. Algumas dessas projeções já se delineiam e podemos conjecturar como irão se distanciar no seu futuro. Mas, no estudo sincronico, talvez seja melhor começar por definir essas profissões, hoje, antes de mais nada. </p>
        <p> A Foniatria é definida pelo Novo Dicionário Aurélio como: "(de fono + iatria): parte da medicina que trata das perturbações de fonação resultantes de anomalia fisiológica do aparelho fonador ou de posição errônea dele. Tratamento dos defeitos da fala". </p>
        <p> A Fonoaudiologia é definida no dicionário "Terminology of Communication Disorders" editado em 1980 pela Williams and Wilkins Company-Baltimore como: "Speech Science: study, analysis and measurement of all components of the processes involved in the production and reception of Speech. Synonime: Speach and Hearing Science". </p>
        <p> A Foniatria é uma especialidade da medicina bastante antiga, pois por muitos séculos se pensou que a voz humana e a articulação decorrente das modificações do trato vocal fossem produzidas pelo próprio aparelho fonador e a laringe. Só muito mais tarde, a medicina soube que o cérebro possue as chamadas zonas da linguagem, Brocá e Wernicke, responsáveis por funções simbólicas mais altas, que comandavam processos mais periféricos, da emissão vocal e de sons articulados com significação: a linguagem. Essa faculdade, exclusiva do ser humano, o fez adaptar estruturas de laringe e comportamentos fono-respiratórios ao longo de sua evolução filogenética para simbolizar pelos signos de um código o seu pensamento. Hoje, o osso hióide e a cartilagem tireóide são de interesse da Antropologia inclusive, por causa disto. </p>
        <p> Nos Estados Unidos, Canadá e em muitos outros países desenvolvidos, o foniatra acabou fundindo-se na Otorrino laringologia, uma especialidade médica que diagnostica e trata das afecções do ouvido, nariz e laringe. No entanto, na Europa, sobretudo na França, por causa da influência do foniatra Husson (já falecido) e sua teoria, a especialidade continua a existir. A teoria neorocronáxica de Husson, defendeu a posição de vibração ativa das cordas vocais na laringe, pela ação do nervo recorrente - um ramo do X par craniano, o nervo Vago. Apesar dos esforços de Froeschels, Isshiki, Von Leden, Rubin, Van der Berg, Wustrow, Weiss, a nova teoria não conseguiu ser aceita e comprovada. Hoje, pela moderna tecnologia - como a cinefluoroscopia podemos literalmente "ver", sem tocar, uma corda vocal em movimento. </p>
        <p> Na Argentina o foniatra (já falecido) Dr. Julio Queiroz foi um incentivador da implantação da Fonoaudiologia. No Brasil há poucos foniatras, mas que fizeram sua especialização no exterior, como Dr. Bloch, Dr. Spinelli, Dr. Tabith. </p>
        <p> A Fonoaudiologia é uma ciência da comunicação que não entra em choque ou se superimpõe à Foniatria. Estuda o comportamento do processo expressivo e receptivo do discurso lingüístico, por suas ciências fonéticas e lingüísticas correlacionadas com a Fisiologia, como foi claramente explanado na Avaliação e Terapia da Fonoaudiologia. Absolutamente não intervém nas afecções do aparelho fonador, quer seja para diagnosticá-las, para tratá-las por
         intervenção tópico, química - medicamentosa ou cirúrgica. </p>
        <p> A Fonoaudiologia estuda o comportamento lingüístico, sempre. Se a fonação e a fala venham a ser considerados como comportamentos de interesse do foniatra, é preciso ressaltar, que não são dirigidas pela laringe (que ele conhece bem). São comandadas pelas estruturas do cérebro lingüistico, pelas funções intelectivas e da psiquê do indivíduo que se comunica com outro indivíduo, que percebe, entende, e responde, estabelecendo uma relação social dialógica, através da mensagem do código (que conhece menos). A Fonoaudiologia a ser implantada no Brasil, não vai ocupar espaços de outro profissional, como o do foniatra. A profissão de fonoaudiólogo, já é reconhecida oficialmente em 27 (vinte e sete) países do mundo em boa harmonia e troca científica no seu trabalho. Não haveria porque se pensar que o fonoaudiólogo brasileiro iria exorbitar suas funções e fugindo à sua formação, agir por microcirurgia, receitar medicações ou dar diagnóstico médico. No sentido de evitar abusos e justamente, para haver sempre credibilidade profissional, as associações de fonoaudiólogos elaboraram um código de ética e pretendem constituir um conselho federal atuante, a fim de elevar a profissão e manter seu bom conceito diante da comunidade. Esse conselho deverá ser eleito democraticamente, pelos fonoaudiólogos para que nunca, se divorcie desses e os represente, de fato. </p>
        <p> Na maioria dos países da Europa, América do Norte, África, Ásia, Área do Pacífico e América Latina a profissão é reconhecida geralmente pelo Ministério da Saúde ou da Educação ou ambos, ou ainda, pelos Governos Estaduais ou Federais, dependendo da legislação de cada país. </p>
        <p>De 32 países dos quais tem-se vasta informação apenas cinco não tem a profissão reconhecida, dentre os quais, o Brasil, embora em todos os cinco a profissão seja exercida. </p>
        <p>O primeiro país a reconhecer a profissão foi a Hungria em 1900. antes de 1940, cinco países reconheceram a profissão sendo eles: Áustria, Nova Zelândia, Alemanha, Noruega e Iugoslávia. Ao redor dos anos 60, mais onze países reconheceram esta profissão. Esperamos que na década de 80 a profissão seja reconhecida no Brasil.</p>
        <p>A história da Fonoaudiologia no Brasil, de início, não se diferencia da Educação Especial. Já se pensava em reabilitação no Brasil na época do Império.</p>
        <p>Em 1854 foi fundado o Imperial Colégio para meninos cegos - hoje, Instituto Benjamim Constant. Em 1855 foi fundado o Colégio Nacional, destinado ao ensino dos surdos. Passou o dito Colégio, sucessivamente, pelos seguintes nomes: Imperial Instituto de Surdos-Mudos (1857), Instituto Nacional de Surdos Mudos (1949), para em 1957 ser definitivamente reconhecido pelo nome de Instituto Nacional de Educação de Surdos, mais conhecido como I.N.E.S. Neste Instituto, em 1950, Ana Rimoli de Faria Doria marcou sua presença. </p>
        <p>Paralelamente a educação dos surdos encontraremos em 1912 o Dr. Augusto Linhares, o grande precursor da Fonoaudiologia no Brasil, que já a diferencia da educação especial dando início as pesquisas e reabilitação dos distúrbios da voz e da fala, bem como cursos de orientação a professores. Também, promoveu conferências sobre o "Tratamento da Voz" e "Gagueira" as quais podem ser encontradas nos Anais da Academia Nacional de Medicina. </p>
        <p>Em 1935/38, Souza Mendes e Julio Vieira, ambos otorrinolaringologistas com formação no exterior, se interessaram pelos problemas da voz,exclusivamente. </p>
        <p>Em meados de 1920, Dr. José Guilherme Witel escreveu "A Voz e os Cantores" publicado na Revista de Otorrinolaringologia, estudando os registros vocais. </p>
        <p> Em 1928, no Instituto de Pesquisa Nacional foi fundado o Setor de Ortofonia, sob a direção de Cinira Menezes que estudou a linguagem como comportamento. </p>
        <p>Voltando da Europa em meados de 1935, o Prof. Sylvio Bueno Teixeira, fundou a Escola de Canto e Ortofonia em Campinas. Mais tarde, em 1970 é editado "A Voz e a Fala do Surdo Congênito", seguido das obras "Problemas da Voz e da Fala". "Considerações sobre a Voz, a Fala" etc. </p>
        <p>Em janeiro de 1948 é lançada a terceira edição da obra "Manual de Califasia" do Dr. Silveira Bueno que tratava principalmente de problemas de dicção e articulação e era adotado em várias escolas do ensino secundário. </p>
        <p>A partir da década de 1940 vários trabalhos surgiram em diversas partes do país, principalmente, em São Paulo, Rio de Janeiro e Rio Grande do Sul, enfatizando-se a necessidade de criação e aprimoramento no campo da reabilitação dos Distúrbios da Fala, Voz, Audição e Linguagem. </p>
        <p>Na década de 1950 surgem os primeiros movimentos para a habilitação sistemática em Terapia da Palavra. Por um lado teremos o Primeiro Centro de Pesquisas Educacionais com a colaboração do Dr. Ombredane, (estudo das afasias) e mais tarde, Ophelia Boisson Cardoso, a qual, também, iniciou o trabalho no campo da linguagem no Instituto Pestalozzi. Pelo outro lado, entre os profissionais de teatro vamos ter a participação de Lilia Nunes e Esther Leão, precursoras na reabilitação dos problemas da voz e também dos cursos de Impostação da Voz. Em 1956 foi fundado na AFAE o setor de terapia da Palavra. A seguir o Dr. José Julio Ferreira de Souza (ORL) iniciou o curso de Logopedia no Hospital São Francisco de Assis no Rio de Janeiro e a professora Lucia Teixeira Bentes (já falecida) iniciou o curso para formação de Logopedistas na Sociedade Pestalozzi do Brasil. </p>
        <p>Na década de 1960 encontramos o Dr. Pedro Bloch, foniatra especializado no exterior, na ABBR, que a partir de 1980 dá residência à fonoaudiólogos. Em 1964 foi criado na SED (Secretaria Estadual de Educação e Cultura do ex-Estado da Guanabara), um curso de formação de Terapeuta da Palavra, sob a iniciativa da Prof. Abigail M.Caraciki, visando a necessidade de atender os problemas da Linguagem lida-escrita dos alunos da rede oficial de ensino primário. Ainda, no Hospital São Francisco de Assis encontramos a Prof. Edyr Pinheiro Alves responsável pela formação de Logopedistas. Estes foram os primeiros cursos de formação para Fonoaudiólogos no Rio de Janeiro, sendo que nesta ocasião eram todos cursos livres, sem o estudo sistemático da Fonética, da Lingüística, da Audiologia. </p>
        <p> No Rio de Janeiro as contribuições dadas por Maria da Glória Beuttermuller, Vera Janacopolis, Ruth Pereira, Emília D' Aniballi, Regina Morizot Leite, Beatriz Saboya e muitos outros, marcaram o início do dinamismo e necessidade de maiores estudos e conquistas no campo. </p>
        <p>Em 1976, o C.F.E. reconheceu a primeira Faculdade de Fonoaudiologia da Universidade de Santa Maria - RS. Atualmente, várias instituições de nível superior formam profissionais em Fonoaudiologia, sendo: no Rio de Janeiro - Universidade Católica de Petrópolis, Instituto Cultural Henry Dunant (FINES), Instituto Brasileiro de Medicina de Reabilitação, Sociedade de Ensino Superior do Rio de Janeiro; em São Paulo - Escola Paulista de Medicina, PUC de São Paulo, Universidade de São Paulo, Universidade Católica de Campinas; no Rio Grande do Sul - Universidade Federal de Santa Maria; no Paraná - Universidade Católica do Paraná; em Pernambuco -Universidade Católica de Pernambuco. Em outros estados, profissionais da área mobilizam-se na implantação de cursos de Fonoaudiologia em Universidade, visto a carência de serviços para suprir a demanda nesses estados. </p>
        <p>Há no Brasil várias instituições que através de seus associados mobilizam à classe num constante incentivo em busca de valores inerentes à profissão, como a melhor formação. Entre estas organizações encontram-se: Associação Brasileira de Fonoaudiologia - ABF-SP (profissional, de utilidade pública); ABRAFA-SP (cultural); Associação dos Fonoaudiólogos do Rio de Janeiro - AFONERJ (profissional); Sociedade Brasileira de Logopedia - SBL-RJ (cultural); Associação Sul Brasileira de Fonoaudiologia - ASSULBRAF-RS (profissional); Associação Sul Rio Grandense de Fonoaudiólogos - RS (profissional); Associação de Fonoaudiologia do Paraná e Santa Catarina - AFOPRESC (profissional); Associação Pernambucana de Fonoaudiólogos - PE (profissional). </p>
        <p> Há ainda, outras sociedades culturais, assim como núcleos profissionais de fonoaudiólogos em Brasília, Bahia, Minas Gerais, Piauí, Espírito Santo, Fortaleza estão com seus núcleos em formação. As associações profissionais, as associações culturais e núcleos de Fonoaudiólogos lutam pelo reconhecimento da profissão no Brasil, através de uma Comissão Nacional eleita pela classe, que escreve esse documento. </p>
        <p>Vários eventos na área feitos anualmente: Em 1967, realizou-se o 1º Seminário Brasileiro de Terapia da Palavra no Rio de Janeiro. Em 1969, o 1º Congresso Brasileiro de Terapia da Palavra. Em 1971, a Universidade Sta. Maria fez realizar o 2º Congresso Brasileiro de Terapia da Palavra na ex-Guanabara e em 1974, o 3º Congresso Brasileiro de Terapia da Palavra em Curitiba. Todos os anos a UFMS, a PUC-SP, o Instituto Cultural Henry Dunnant (F.I.E.S.) - RJ realizam a Semana da Fonoaudiologia, no sentido de atualizar constantemente o fonoaudiólogo nos progressos da sua área, inclusive, convidando nomes internacionais. Em 1980 realizou-se em São Paulo o I Simpósio Internacional sobre Afasia, em junho; em agosto do mesmo ano, realizou-se no Rio de Janeiro na Universidade Sta. Úrsula, uma Maratona de Debates sobre a Gagueira, reunindo vários profissionais da área fonoaudiológica. Em setembro/80 realizou-se o Simpósio sobre o Fissurado, com a participação de vários profissionais fonoaudiólogos. Em 1981 já estão sendo programados congressos e simpósios. </p>
        <p> Ultimamente, o interesse a editoração está sendo despertado por um grupo de profissionais que publicam os trabalhos. Os livros de Fonoaudiologia ainda são encontrados através das traduções já existentes ou de obras em espanhol, francês, inglês e alemão. No entanto, já começa a haver no Brasil obras editoradas por profissionais fonoaudiólogos. </p>
        <p> O Jornal Brasileiro de Reabilitação é a publicação de informação científica que serve de veículo a todos os profissionais e entidades da Fonoaudiologia no Brasil. Foi fundado em setembro/1979, no Rio de Janeiro e tem distribuição em quase todos os estados brasileiros. "O Journal of Speech and Hearing Disorders" é a publicação americana que traz as mais novas pesquisas na "Speech Science". </p>
        <p> A crescente necessidade de atendimentos aos deficientes da Linguagem Oral e Escrita, Fala, Voz e Audição fez com que surgissem muitas clínicas multidisciplinares e centros de atendimentos especializados, de profissionais autônomos. Contudo, inúmeros profissionais exercem as suas atividades em hospitais, escolas federais, estaduais, municipais, da Marinha, Aeronáutica, Exército, do INAMPS, muitos em desvio de função, esperando que se abram as perspectivas de trabalho vinculadas à regulamentação da profissão. É essa perspectiva de um emprego no mercado de trabalho depois que se formar que mantém as faculdades de Fonoaudiologia com um bom número de alunos. Este é um segundo ponto importante e preocupante. </p>
        <p> A pesquisa no campo da Fonoaudiologia, ainda não é desenvolvida em larga escala por instituições particulares ou profissionais, visto ser dispendiosa e não haver apoio governamental no reconhecimento da profissão. Poucos fonoaudiólogos tem grau de mestre ou doutro. Se o tivessem pesquisariam certamente. </p>
        <p> Uma vez que uma necessidade social se ergue acima da lenta burocracia é de esperança que a Fonoaudiologia venha a se implantar no Brasil, devido a compreensão dos poderes públicos do grande alcance social da profissão. </p>
        <p> No final desse século, a Fonética, influenciada pela descoberta do sânscrito, pelos neo-gramáticos e pelos comparativos históricos, ascendeu ao status de Ciência. Rask, Werner, Grimm, Pott, contribuíram para as pesquisas das leis; Brucke Victor para a Fonética Articulatória Fisiológica; Fourier e Helmoltz para a Fonética Acústica. O abade Rousselot aperfeiçou o quimógrafo e contribuiu para a Fonética Experimental, em 1897, no College de France. Há duas correntes na Fonética. Por um lado, (Bopp), propõe valores nacionais da língua como importantes. Outra corrente vê a evolução das línguas por leis imutáveis. </p>
        <p> Em 1876 Sievers publicou - Fundamentos da Fisiologia do Som - , na Alemanha, onde faz a descrição dos sons fonéticos baseados na audição. Seu trabalho foi seguido e sua metodologia adotada por: Passy na França, Henry Swset na Inglaterra, Otto Jesperson na Dinamarca e Gonçalves Viana em Portugal. Mas a Fonética Articulatória acabou sendo de maior interesse dos fonéticos, porque tem a maior possibilidade instrumental. </p>

        <p> Se a Fonética crescia nesse final de século, a Lingüística teria que esperar o próximo século. Enquanto isso, pelo lado das Ciências Biológicas, (na Medicina), havia, em 1861: Brocá, que determinava o centro da fala articulada; Wernicke, que denominava o centro das imagens auditivas que Meinert estudava; Djerine, que encontrava o centro das imagens visuais; H.Jackson, que se referia à preservação da linguagem automática nos afásicos. Mas em 1828 havia também Dieffenbach no Instituto de França declarando que o gago tinha um desvio na postura da língua, na qual se devia fazer incisões e Defnond, que perfurava a língua em 3 posições, até que ambos causaram muitas mortes. O mesmo Dieffenbach, se não entendia comportamento como gagueira, propunha a separação de tecidos moles do palato duro antes do fechamento ósseo da fenda palatina. Infelizmente depois de operados os fissurados não articulavam. Faltava um elocucionista ou fonoaudiólogo para tratar dos comportamentos da fala. Trousseau foi o primeiro a usar o termo "afasia" na Medicina, apesar de que Empiricus já o empregasse, em 200 D.C. </p> 

        <p> Nos meados do século XIX, o fato de que a Medicina começasse a conhecer melhor a Fisiologia, não lhe dizia o que fazer com aqueles comportamentos lingüísticos, dos afásicos, gagos, fissurados etc. Assim, enquanto Djerine dissecava cérebros lesionados dos cadávares, Mme. Djerine se preocupava em compreender, explicar e reabilitar aqueles comportamentos afasóides que via nos pacientes de seu marido. Podemos dizer que é uma fonoaudióloga pioneira na França. Eis as diferenças de ação do médico e do fonoaudiólogo. O primeiro estuda as afecções, o segundo os comportamentos. Completam-se, sem superimposição de funções nos seus campos de trabalho independentes. </p>

        <p> No apagar das luzes do século XIX na Inglaterra, o fonético Henry Sweet (retratado como o prof. Higgins em "Pigmalion" de Bernard Shaw, adaptado em "My Fair Lady" para o cinema por Lerner) buscou estudar a linguagem patológica pela Fonética. Seu livro "Hand-book of Phonetics" em 1877, explicou o que chamou de "Broad Romic", isto é: cada símbolo representava um grupo de sons. Foi ele o criador do Alfabeto Fonético Internacional. Todo o seu trabalho em Oxford foi baseado na Fonética e no "Visible Speech" desenvolvido por Charles e Neville Bell, avô e pai de Graham Bell, ambos professores de Elocução e Fonética em Edimburgo. Sweet foi o primeiro fonético a ter a noção abastrata de fonema. Pode ser considerado um fonoaudiólogo pioneiro, pois conseguiu fazer uma gestalt dos conhecimentos científicos para começar a explicar as patologias da linguagem. </p>

        <p> Na área da Física Acústica no século XIX, Besold, Rinné, Schavabach mostravam a importância da Acústica aplicada ao diagnóstico diferencial da surdez. Meniére substituía Itard no trabalho com os surdos, em Paris. </p>

        <p> No ano de 1891 o Instituto Nacional dos Surdos-Mudos da Argentina criou a cadeira de Ortofonia, preparando profissionais. No Brasil foram criados os Imperiais Institutos para Meninos Surdos e para os Cegos, hoje INES e Benjamim Constant, respectivamente. Mas antes disso, entre 1800 e 1815, na Europa de Napoleão, os surdos tiveram seus direitos políticos reconhecidos. Na Noruega em 1881 foi estabelecida uma lei obrigatória para a instrução do surdo. Em 1898, governos como o da Dinamarca, Suiça, Áustria, Alemanha, começaram a instituir os primeiros serviços especializados no campo da terapia da palavra. </p>

        <p> No século XIX começaram a se intensificar os estudos da Física Acústica aplicada à audição humana. Os irmãos Weber e Carl Stumpf, estudavam por investigações psicológicas a sensibilidade humana ao som. O termo "Acústica" foi usado pela 1ª vez no século XVIII por Joseph Sauveur, um surdo, mas o padre Kircher teria feito um tratado sobre essa, em 1673, "Phonurgia Nova". No entanto, um século antes, se não fosse o trabalho do grande físico Isaac Newton (1642-1727), sobre propagação e velocidade de ondas, os esforços de Politzer, Lucae, Barany, Hartman, Hughes não teriam chegado, no final do século XIX, às possibilidades instrumentais da audiometria. Hoje, se um fonoaudiólogo phD como Willford cria uma bateria de testes audiométricos para o disléxico é sempre, graças a Newton. </p>

        <p> Em 1854, o cantor Manuel Garcia inventou o laringoscópio. Nesse aparelho olhava suas próprias cordas vocais para ver se estavam inflamadas. Começou a ensinar seus colegas, professores de canto e seus alunos a olharem também. Mais tarde, médicos como Cjermak e Tuerk, quiseram torná-lo um aparelho exclusivo da Medicina. De certa forma a descoberta do aparelho é um marco na Otorrinolaringologia que se estabeleceu como especialidade médica a 130 anos atrás e se formou pela reunião da Otologia e Laringologia. Inicialmente, teve um caráter clínico, depois cirúrgico. Hoje é clínico e microcirúrgico, basicamente. </p>

        <p> O séculos XIX terminava com a saída da família Bell de Edimburgo, emigrando para a América. O nome Bell, não é só importante por Alek Bell ter inventado o telefone, mas também, por seu trabalho na Fonoaudiologia. Seu avô Charles Bell era um professor de elocução em Edimburgo. Seu pai, Neville Bell, também, ensinava elocução e fonética em Edimburgo; assim desenvolveu um sistema de análise visual da onda sonora, o Visible Speech. O filho, Alexandre Graham Bell, aplicou sua vida à comunicação e aos deficientes de comunicação, pois era casado com uma surda. A Fonoaudiologia se desenvolveria na América pelo trabalho extraordinário desses pioneiros. Mas toda a possibilidade de experimentação de teorias fonético-acústicas na Inglaterra, também partiu com eles. Assim, o "Visible Speech", que Graham Bell denominou "fonoautógrafo", que ele mesmo e Watson aperfeiçoariam nos Estados Unidos, pela Cia. Bell, viria a ser uma invenção americana. </p>

        <p> Em 1894, o Dr. Wyllie, em Edimburgo, que ficara pobre em Ciência com a saída dos Bell e a morte de Sweet, escreveu "Disorders of Speech", onde busca evidenciar a necessidade de uma visão organicista e médica para esses casos. </p>

        <p> Não caberia à Fonética e sim à Medicina estudar esses problemas. </p>

        <p> As Ciências Fonéticas não tinham desenvolvido ainda seu ramo Acústico e a Lingüistica não tinha surgido. Por isso pensou que a Medicina poderia resolver todos esses problemas. Mas, se as patologias orgânicas respondiam ao tratamento médico até certo ponto, as patologias funcionais não. A gagueira, a dislexia funcional, eram comportamentos lingüisticos complexos em que o estudo da base biológica, apenas, não dava explicações. Essa visão biológica única das 3 faces de um fenômeno bio-psíco-social, não seria suficiente. Isto só se saberia mais tarde, no século XX, com as Ciências da Comunicação e o desenvolvimento da Psicologia e da Lingüística. </p>

        <p> Os fonéticos que ficaram na Europa conturbada pelas guerras sucessivas de 1870 e 1914, não tinham possibilidade instrumental, pois Edson não havia inventado o fonógrafo ainda, na América. Continuariam fisiológicos. Assim, Troubetskoy e Jakobson voltaram-se para a pesquisa lingüística teórica. O famoso Círculo de Praga separou a Fonética Clássica (articulatória) da nova ciência lingüística que criaram. A Fonoaudiologia, extremamente teórica naquele tempo, não pôde ser aplicada, logo em seguida, aos problemas da linguagem pelos elocucionistas ou fonoaudiólogos da época que não eram muitos, nem tinham uma formação regular. A criação da Fonoaudiologia seria uma reação dos fonéticos à Fonética Clássica, que se tornava pura fisiologia da articulação, pela influência das Ciências bio-médicas em ascensão na Europa. </p>

        <p> <strong>  O SÉCULO XX </strong> </p>
        <p> O século XX merece algumas considerações iniciais porque foi muito importante para a Fonoaudiologia. </p>

        <p> Até então, os problemas de linguagem eram tratados por professores de elocução e por fonéticos. Começou-se, então, a combinar o tratamento médico com a terapia elocutiva. A única disciplina que estudavam era uma Fonética muito rígida e mecanicista. Infelizmente, não estudavam a Acústica, a Psicologia e a Lingüística, como faz um fonoaudiólogo moderno. Teriam que esperar por Saussure, em 1916. </p>

        <p> No século XX, a Fonoaudiologia viria a se afirmar como profissão porque trabalharia de forma científica. Certamente a obra de Saussure, estudando língua e linguagem de forma científica, pela primeira vez é da maior importância. Abriu enormes possibilidades teóricas. Viria a se afirmar como Ciência, organizando sem campo de estudos. A Fonoaudiologia formar-se-ia das Ciências Lingüísticas e Audiológicas, começando a enunciar seus primeiros pressupostos teóricos nesse século nas décadas finais. </p>

        <p> Voltando ao início do século XX, vemos que a Psicologia viria a crescer também, como Ciência. Psicólogos como Binet, Simon, nos dariam metodologias e técnicas para medir comportamentos e coeficiente intelectual. A linguagem é um comportamento certamente advindo de processos mais altos como o pensamento inteligente do Homem: assim pode ser passível de medida. Ainda que esses processos mentais do pensamento sejam encobertos, os comportamentos lingüísticos abertos à observação são a melhor forma de medi-los indiretamente, numa avaliação. Isso logo interessou aos patologistas da linguagem. O fato da Fonoaudiologia ter preferido estudar mais as explicações da Psicologia, em detrimento das explicações da Medicina, parece sintomático na sua luta de não aceitar explicações definitivamente, muito organicistas do fenômeno da linguagem, que os médicos sempre quiseram impor no final do século XIX aos elocucionistas e fonéticos. Esses últimos insistiam que a linguagem era, antes de mais ainda, um fenômeno lingüístico primordialmente, que poderia ser estudado por eles, por suas ciências e metologias. </p>

        <p> Nos meados do século XX, na década de 50, na Europa, seria feita uma última tentativa de imposição dos médicos nesse sentido. O foniatra francês Raul Husson propôs uma teoria bastante organicista para o funcionamento independente das cordas vocais. Foi a Teoria Neurocromáxica. Na sua hipótese teórica, as cordas vocais vibram de forma ativa pela ação direta dos centros do cérebro através do Nervo Recorrente, até as fibras dos músculos das cordas vocais. Froeschels, Luchsinger, Negus, Van der Berg, Portmant, foram dos que logo questionaram a posição científica do foniatra da Sorbonne. Husson, finalmente, não conseguiu comprová-la cientificamente, em 1950. </p>

        <p> Nos mesmos anos 50, nos Estados Unidos, assistiu-se também ao nascimento muito sintomático da 1ª Teoria da Comunicação. Psicólogos, matemáticos, engenheiros eletrônicos e físicos acústicos se reuniram em Cornell em 1951, para tanto. Caroll, Osgood, Shannon, Weaver, foram os teóricos desse modelo. Esse fato, assim como a obra de Bloomfield, Sapir, mostrou aos patologistas da linguagem que este era o caminho para estudar o fato da linguagem dentro das Ciências da Comunicação. </p>

        <p> Numa retrospectiva do século XX, a Fonoaudiologia reuniu a Psicofisiologia de Helmoltz, a Fonética do elocucionista Henry Sweet, a Acústica Aplicada dos dois Bell. A obra de Saussure lhe deu a teoria, mas Homer Dudley, um engenheiro eletrônico e acústico, deu-lhe a possibilidade instrumental. Continuador das pesquisas de Bell e de Watson e vindo a trabalhar na Bell Cia., foi dos que muito contribuíram para que se pudesse provar, explicar os pressupostos teóricos da Fonoaudiologia nas Teorias da Produção e Percepção do discurso, que veio a levantar nas décadas seguintes. </p>

        <p> O caminho da Fonoaudiologia nos Estados Unidos sempre foi mais independente. Já na Europa, sempre esteve ligada aos egressos de outras áreas. Custou mais a achar o caminho de sua independência. Talvez por causa disso, a profissão tenha diversas nomenclaturas: Logopedista (Espanha), Ortofonista (na França e Canadá), Speech Pathology (nos Estados Unidos), Speech Therapy (na Inglaterra). </p>

        <p> A Audiologia foi uma ciência que se incorporou à Fonoaudiologia para formá-la, desde o seu início. A Fonoaudiologia se serviu dos progressos existentes, primeiramente. Hoje, contribui com pesquisas e trabalhos, anexando-a . Pela Audiologia, ampliou-se no estudo do processo receptivo da linguagem, não ficando, apenas, no estudo do processo expressivo. </p>

        <p> Nascida da Física Acústica e da Engenharia Eletrônica, seria aplicada inicialmente pela Engenharia, para medir vibrações da lâminas metálicas. Mais tarde seria usada no topodiagnóstico médico e na avaliação da audição humana, simultâneamente, nos recrutas de guerra. </p>

        <p> O primeiro audiômetro comercial do mundo foi fabricado nos Estados Unidos em 1922 – Western Electric 1 A . Iria surgir, logo depois, o Western Electric 4 A, utilizando agora um fonógrafo com pick-up magnético para a palavra. O fonógrafo de Edson tinha sido aperfeiçoado por Graham Bell. Pela primeira vez usou-se um audiômetro para os sons e complexos da palavra na Lexington School for the Deaf, na América. Assim, podemos concluir que a Audiologia e a Audiometria, desde seus primórdios, foram dirigidas às medidas logoaudiométricas ou da palavra, para percepção auditiva do ouvinte no processo receptivo da linguagem: não foram criadas apenas para o topodiagnóstico médico pela pesquisa dos sons tonais puros, como muitos podem pensar. </p>

        <p> Em 1896, na América, pela primeira vez no mundo, as crianças foram testadas com métodos estatísticos para se avaliar e detectar o número de distúrbios da palavra. Foi em Boston – Massachussetts. 70% da população pesquisada evidenciou problemas. Mais tarde, seis cidades americanas foram pesquisadas, em 1904. Nova York e St. Louis, em 1911. Em 1920, foi fundada a primeira clínica de Speech Pathology and Audiology na Universidade de Yowa. Travis, Johnson e Van Riper, principalmente, organizaram os trabalhos de reabilitação da fala e começaram a estudar a gagueira cientificamente, pela primeira vez. </p>

        <p> <strong>  A FONOAUDIOLOGIA NO CONTEXTO MUNDIAL DO SÉCULO XX </strong> </p>
        <p> Até o século XVIII a Fonoaudiologia foi muito experimental. No entanto, no século XX, quando a profissão se desenvolveu cientificamente, o contexto mundial não lhe foi favorável. Houve duas guerras mundiais, a de 14 e a de 39. Durante a primeira metade desse século o mundo foi conturbado. A Europa e a América tiveram problemas iminentes e urgentes como a fome, a sobrevivência diária, o desastre econômico. A crise mundial de 29 é um exemplo disto, com a recessão. No entanto, mesmo não sendo favorecida pelo contexto, a profissão cresceu com vitalidade no mundo inteiro, exclusivamente pela força do seu grande alcance social e os enormes serviços que pode prestar às comunidades em geral: crianças, adultos, civis e militares. Impôs-se pela força de seu trabalho, mais forte que o contexto adverso e acima da rivalidade científica de outras profissões, que queriam açambarcar a patologia da linguagem por explicações biológicas ou pedagógicas, exclusivamente, quando já havia explicações fonéticas e lingüísticas. </p>

        <p> <strong>  OS PIONEIROS NA EUROPA E NA AMÉRICA </strong> </p>
        
        <p> a) Na Europa </p>

        <p> A Europa, principalmente a Áustria, deu impulso à nova profissão com a combinação do trabalho de Karl Rothe e Emil Froeschels. Este último, em 1909, resolveu combinar tratamento médico com psicoterapia, na terapia da fala e da voz. Rothe, em 1912, organizou uma classe experimental para as crianças com problemas de fala e linguagem. Em 1920, no pós-guerra, reuniram-se e abriram a Escola Vienense de Logopedia. Começaram a formar novos profissionais nessa área, pois obtiveram o reconhecimento oficial em 1924. Sua discípula, Aina Borgson, depois de formada foi implantar a nova profissão na Suécia. Froeschels, em 1917, é nomeado para dirigir o Departamento de Linguagem e Voz da Universidade de Viena; Rothe foi chamado para dirigir, como professor, o Teacher’s College. </p>

        <p> Foi pelo esforço desses pioneiros que se fundou a IALP - International Association of Logopedies and Phoniatrics. Marcou seu primeiro Congresso em 1924. Oito países foram representados e, além dos fonoaudiólogos presentes, médicos, professores e psicólogos ali estiveram e tomaram conhecimento da nova profissão. A IALP faz seus congressos de quatro em quatro anos, atualmente. </p>

        <p> Os nomes de Froeschels, Gutsmann, assim como o de Rothe ocupam um lugar de honra na profissão pelo desenvolvimento da Speech Therapy na Europa. </p>

        <p> Na Inglaterra, ao lado de Herry Sweet, pioneiros como Neville Bell, Elsie Forgety, Muriel Ferrie, são nomes sempre lembrados. </p>

        <p> Na França certamente Borel Maisonny tem um lugar na antologia da profissão. </p>

        <p> A primeira faculdade de Fonoaudiologia do mundo, abriu-se em 1900, na Hungria. É um marco da Fonoaudiologia-Ciência e o estabelecimento do especialista como profissional independente, com uma área de estudos próprios da patologia da linguagem. </p>

         <p> b) Na América </p>

        <p> O engenheiro acústico e eletrônico Homer Dudley foi um pioneiro no chamado "Discurso Sintético". Se nos séculos XVIII e XIX buscou-se produzir artificialmente laringes, ouvidos, pulmões etc., a fala sintetizada teve que esperar o século XX e a invenção dos circuitos eletrônicos produzidos em 1937 nos laboratórios Bell e pela Western. O "discurso sintético" era contínuo, produzido pela máquina falante - VODER, que aliás, foi exposta na América na Feira Mundial. O Laboratório Haskins partiu desse aparato para pesquisar a percepção do discurso para "Pattern Playback". Em 1950, Delattre, Cooper e Liberman estudam através dele a percepção do discurso e começa-se a elaborar as primeiras teorias da fonoaudiologia, com Fairbanks, em 1954. </p>

        <p> Podemos dizer que a família Bell acabou contribuindo indiretamente, tanto para as teorias da produção, como da percepção do discurso. São dessas teorias que o fonoaudiólogo moderno, quase do final do século, parte para estudar a linguagem patológica. Alexander Graham Bell, além de inventar o telefone, preocupou-se também com os que não poderia usá-lo. Terá sempre um lugar de honra entre os fonoaudiólogos pioneiros dos Estados Unidos. </p>

        <p> Travis, Van Riper, Johnson, Winitz e Perkins, estarão sempre na galeria dos pioneiros das "Speech and Hearing Sciences" na América, pelos seus estudos da gagueira e dos problemas da articulação. </p>

        <p> ACONTECIMENTOS CRONOLÓGICOS </p>
        
        <p> <strong>  1900 </strong> </p>

        <p> É fundada a primeira faculdade de Fonoaudiologia no mundo, na Hungria </p>
        
        <p> <strong>  1911 </strong> </p>

        <p> É fundada a primeira clínica de Fala na Inglaterra, no Hospital São Bartolomeu</p>

            <p> <strong>  1913 </strong> </p>

            <p>Outro serviço é fundado no Hospital St. Thomaz, na Inglaterra.</p>

           <p> É fundada, em Londres, a Central School of Speech and Drama, por Elsie Forgety.</p>

            <p> <strong>  1914 </strong> </p>

            <p>Começa a primeira Guerra Mundial.</p>

            Serviços clínicos de Speech Therapy são fundados na Suécia e na Suíça.</p>

           <p> São fundados na Nova Zelândia os serviços de Speech Therapy, no pós-operatório de cirurgia plástica orofacial.</p>

            <p>Apesar de contar com poucos profissionais, a profissão começa a mostrar-se útil na reabilitação dos feridos da guerra com patologias de linguagem.</p>

            <p> <strong>  1916 </strong> </p>

            <p>São fundados dois serviços clínicos de Speech Therapy na Dinamarca.</p>

            <p>É publicado o "Cours de Linguistique General" de F. Saussure, onde estão os fundamentos científicos modernos do estudo de linguagem.</p>

            <p> <strong>  1918 </strong> </p>

            <p>É fundada a Ohrenklinik (clínica de audição), na Suíça.</p>

            <p>O Hospital de Doenças Nervosas cria um serviço de fala e linguagem, em Londres.</p>

            <p>Na Escócia, o West End Hospital For Nervous Diseases abre um curso oficial de Speech Therapy.</p>

            <p>Tem lugar, em Haia, o primeiro Congresso Internacional de Lingüística. Teses importantes sobre os estudos da linguagem são propostas. Esses congressos se repetem periodicamente, de quatro em quatro anos.</p>

            <p> <strong>  1919 </strong> </p>

            <p>As Speech Schools de Hamburgo são mencionadas na Revista "Mental Welfare" e consideradas como padrões a serem levados a outros países.</p>

            <p> <strong>  1920 </strong> </p>

            <p>São criados serviços na Dinamarca, Holanda, França e Canadá.</p>

            <p>São criados cursos nas universidades de Colúmbia, Pensilvânia e Wisconsin, para biolingüístas.</p>

            <p> <strong>  1922 </strong> </p>

            <p>Fundado o Departamento da Fala, Voz, Audição, na Clínica Otológica de Praga.</p>

            <p>Começa a formação regular de profissionais na Checoslováquia.</p>

            <p>Funda-se, na Universidade de Michigan, Estados Unidos, a Faculdade de Speech Pathology, englobando o estudo de todas as patologias de voz, fala, linguagem, audição. É a primeira universidade americana com faculdade de Speech Pathology.</p>

            <p> <strong>  1923 </strong> </p>

            <p>No University College, em Londres, funda-se o Centro de Problemas da Fala, com a contribuição do Departamento de Lingüística e Fonética do University College, da Inglaterra.</p>

            <p> <strong>  1925 </strong> </p>

           <p> É aberto o primeiro serviço de Logopedia no Hospital Salpetriere - Paris, por Borel Maisonny.</p>

            <p>Fundada a Danish Association of Speech, na Dinamarca.</p>

            <p>A American Academy of Speeth Correction é fundada na América. Mudou seu nome, dois anos depois, para American Speech and Hearing Association - ASHA.</p>

            <p> <strong>  1926 </strong> </p>

            <p>Fundado o Círculo de Praga. É criada a Fonologia como ciência.</p>

            <p> <strong>  1929 </strong> </p>

            <p>Troubetzkoy e Jakobson começam a publicar textos sobre uma nova teoria fonêmica (em que o fonema tem valor cemiótico e não apenas fisiológico): a Fonética Fisiológica Articulatória.</p>

            <p> <strong>  1930 </strong> </p>

            <p>A Speech Therapy é introduzida na Nova Zelândia.</p>

            <p> <strong>  1931 </strong> </p>

           <p> A Associação Médica Sueca reconhece oficialmente a profissão.</p>

            <p> <strong>  1932 </strong> </p>

            <p>Um curso de Speech Terapy é fundado no Departamento de Otologia do Rusch Medical College, na América.</p>

            <p> <strong>  1933 </strong> </p>

            <p>Fundada a primeira Escola para Surdos, na Palestina.</p>

            <p>São criados, no Hospital Infantil de Montreal, serviços de Ortofonia.</p>

            <p> <strong>  1934 </strong> </p>

            <p>É fundada, em Londres, a Association of Teachers of Speech and Drama, uma organização de pós-graduados.</p>

            <p> <strong>  1935 </strong> </p>

            <p>A British Society of Speech Therapist é fundada em Londres, filiada a Speech and Drama. Há um movimento para unificar a formação científica dos profissionais.</p>

            <p> <strong>  1936 </strong> </p>

            <p>O Departamento de Speech Therapy é fundado na Universidade de Witwatersrand, na África do Sul.</p>

            <p>Aparece o primeiro volume do "Journal of Speech and Hearing Disorders", órgão científico da classe na América.</p>

            <p>Fundado o State Institute for Speech Defectives, na Dinamarca. Todas as pessoas com problemas de linguagem têm que ter o diagnóstico da equipe do Instituto.</p>

            <p> <strong>  1937 </strong> </p>

            <p>As primeiras clínicas de Fonoaudiologia são fundadas na Rússia, nos Hospitais de Doenças Mentais. Em seguida, 25 cidades adotam esses serviços, que se ampliam cada vez mais.</p>

            <p>Primeiras clínicas em serviços nas Escolas Públicas são fundadas no Canadá.</p>

            <p>Em Ontário examinam-se crianças com problemas de comportamentos e linguagem pelos orthophonistes.</p>

            <p>Começa a Segunda Guerra Mundial. A Fonoaudiologia prestaria enormes serviços aos deficientes da comunicação expressiva e também receptiva.</p>

            <p> <strong>  1939 </strong> </p>

            <p>O primeiro curso de Speech Pathology é instituído na Austrália, no Royal Alexandra Hospital.</p>

            <p>Dois centros são abertos no Uruguai pela Faculdade de Medicina e pelo Departamento de Saúde.</p>

            <p> <strong>  1940 </strong> </p>

           <p> A especialização profissional na Escandinávia é feita nos Instituto Aarchus e Hellrup.</p>

            <p>Na Rússia, o Speech Therapist estuda 5 anos na Academia de Ciências Pedagógicas.</p>

            <p> <strong>  1941 </strong> </p>

            <p>A Speech Pathology and Audiology se amplia na América, pedindo especialização tanto para crianças como para adultos, para serviços públicos, para particulares, para clínicas nas universidades e para o comitê de Saúde Mental do Governo.</p>

            <p> <strong>  1942 </strong> </p>

           <p> Na Inglaterra, a Association of Speech Therapy começa a ter bancas para que examinadores outorguem diplomas, tornando-se independentes da British Association of Speech and Drama, voltada para o canto e o teatro.</p>

           <p> Na Nova Zelândia cria-se o Teachers Trainning College, em Christchurch, para ampliar o ensino de profissionais da área.</p>

            <p> <strong>  1943 </strong> </p>

           <p> A ASHA americana faz importantes mudanças na concessão de títulos:</p>

            <p>1) Sócio-clínico - dado aos que, com grau de bacharel ou equivalente, podem exercer a profissão sob supervisão.</p>

           <p> 2) Sócio-profissional - dado aos mestres com grande experiência clínica e pós-graduação.</p>

           <p> 3) Sócio-membro - dado aos eleitos pelos profissionais por contribuição significante no campo.</p>

           <p> 4) Associado - dado aos que apoiam a Associação embora não sendo qualificados no campo.</p>

            <p> <strong>  1944 </strong> </p>

           <p> É fundada a Australian Association of Speech Therapist, com orientação Britânica e Americana.</p>

            <p> <strong>  1945 </strong> </p>

           <p> A Inglaterra reconhece a profissão e um padrão nacional de qualificação profissional é estabelecido.</p>

            <p> <strong>  1946 </strong> </p>

            <p>A Speech Therapy é estabelecida nas Universidades de Berlim e Hamburgo. Depois espalha-se por outras Universidades do País.</p>

            <p>Na Faculdade de Pedagogia de Praga é fundado o Instituto de Logopedia. Mais tarde, tornou-se o Departamento de Logopedia, que viria fazer parte do Instituto Foniátrico de Praga.</p>

            <p>Na década de 40 a profissão foi reconhecida na Áustria, Alemanha, Noruega, Iugoslávia, Nova Zelândia.</p>

            <p> <strong>  1950 </strong> </p>

           <p> A Espanha vê a Logopedia como profissão independente.</p>

            <p>Em quase todas as Universidades Americanas se abrem Departamento da Fala:</p>

            <p>1) Speech Correctionist ou Speech Therapist tem graduação de Bacharelado - trabalha sob supervisão em Escolas e Hospitais.</p>

            <p>2) Speech Clinician ou Speech Pathology and Audiology são os pós-graduados com mestrado ou doutorado, trabalhando independentemente e possuindo maior qualificação. Para o doutoramento (PhD) tevem apresentar uma tese original de pesquisa. Há uma vasta revisão nos currrículos com as novas pesquisas na área de comunicação.</p>

            <p> <strong>  1956 </strong> </p>

            <p>Fundado o primeiro curso de Terapia da Palavra no Hospital São Francisco de Assis - Rio de Janeiro - Brasil.</p>

            <p> <strong>  1958 </strong> </p>

            <p>Funda-se no Japão o Centro Nacional de Reabilitação de Surdos, pelo Ministério da Saúde, para reabilitar os deficientes da comunicação.</p>

            <p> <strong>  1960 </strong> </p>

            <p>Funda-se a Associação Espanhola de Logopedia e Foniatria.</p>

            <p>Cria-se em Portugal o Instituto Médico Pedagógico, anexo à Casa Pia de Belém, para os deficientes da comunicação.</p>

            <p> <strong>  1963 </strong> </p>

            <p>Criado no Rio - Brasil, o primeiro Serviço Especializado de Terapia da Palavra, pela Secretaria de Educação, dentro das Escolas Municipais e oficializado pelo Governo Estadual.</p>

            <p>Cria-se a Sociedade Belga de Logopedistas e Foniatras.</p>

           <p> Um "Certificado de Competência Clínica" é exigido pela ASHA, na América, a todos os que vão trabalhar depois de formados com o Bacharelado.</p>

            <p> <strong>  1964 </strong> </p>

            <p>Na África do Sul, na Universidade de Witwatersrand, a graduação é em 4 anos. É fundada a Speech Clinic Board, para conceder o Certificado de Competência Clínica, como na América.</p>

           <p> A Universidade de Estocolmo abre o curso de Speech Therapy.</p>

           <p> O Japão funda o Centro Nacional das Desordens da Fala e da Audição.</p>

           <p> O Canadá funda a Canadian Speech and Hearing Association. Qualificações são exigidas para a inclusão do Associado, seguindo o modelo americano.</p>

            <p> <strong>  1965 </strong> </p>

           <p> A Universidade Católica de Roma funda o Departamento de Fala e a Sociedade Italiana de Fonética, Foniatria e Audiologia.</p>

            <p> <strong>  1966 </strong> </p>

           <p> Na Índia, a Universidade de Mysore funda o All Institute of Speech and Hearing, pois estimou-se haver mais de 6 milhões de deficientes da comunicação nesse país, pelas estatísticas oficiais. </p>

            <p> <strong>  1968 </strong> </p>

            <p> Na África do Sul, a Universidade de Pretoria também funda cursos de Speech Therapy. </p>

            <p> Na década de 60 a profissão é reconhecida em quase todos os países desenvolvidos do mundo, menos no Canadá, Egito, Israel, Espanha, Polônia e Portugal. </p>

            <p> <strong>  1969 </strong> </p>

            <p> O primeiro Congresso de Terapia da Palavra é realizado no Brasil, no Rio. </p>

            <p> <strong>  Década de 70 </strong> </p>
            A profissão está regulamentada nos 5 continentes do mundo.

            <p> <strong>  1974 </strong> </p>

            <p> Reconhecimento oficial da primeira Faculdade de Fonoaudiologia no Brasil - UFSM- RS. </p>

            <p> Datas da regulamentação oficial da profissão em diversos países: </p>

            <p> Áustria - 1961; Dinamarca - 1965; Inglaterra - 1945; Finlândia - 1964; França - 1964; Alemanha Oriental - 1947; Alemanha Ocidental - 1964; Hungria - 1900; Noruega - 1946; Polônia - 1970; Espanha - 1971; Suécia - 1960; Suíça - 1946; Iugoslávia - 1946; Canadá - 1975; Estados Unidos - 1940; México - 1960; Egito - 1975; África do Sul - 1950; Índia - 1965; Israel - 1970; Austrália - 1953; Nova Zelândia - 1939; Argentina - 1950. </p>

            <p> DÉCADA DE 80 <p>
            <p> Nos Estados Unidos, em 1978 faz-se a contagem de 40.000 Speech Pathologists. Na Venezuela, Uruguai, Chile, Peru, Equador, Bolívia, Paraguai e nos Países da América Central, os profissionais, em geral, se formam na Argentina, no México e nos Estados Unidos, para depois exercerem suas funções em seus respectivos países. Essa escolha é feita ou pelo nível de estudo, ou pela facilidade da língua. </p>

            <p> No Brasil, apesar de já existirem diversas Universidades com Faculdade de Fonoaudiologia, a profissão não foi regulamentada oficialmente ainda, na década de 80. Mas três Universidades são oficiais: Universidade Federal de Santa Maria - RS, Escola Paulista de Medicina, Universidade de São Paulo - SP. O CFF reconhece as seguintes Faculdades: Faculdade Henry Dunant, nas Faculdades Integradas Estácio de Sá; PUC-SP; PUC-Campinas: UCP - Petrópolis. Estão com autorização o IBMR, a SESRIO, a Universidade do Paraná, a de Fortaleza, e a PUC- Recife. Está sendo programado o primeiro curso de Pós-Graduação na especialização linguagem receptiva no D.A., da PUC-Rio. Na especialização Audiologia, a PUC- São Paulo já realizou algumas pós-graduações. Alguns fonoaudiólogos fazem pós-graduação em lingüística em diversas faculdades brasileiras. </p>

            <p> A Legislação Brasileira (Lei 5540, artigo 18, de 1968), assim como a Constituição Brasileira de 1969 (título IV, artigo 175 do parágrafo 4º), dispõem sobre as profissões ainda não regulamentadas, mas que se mostrem necessárias às comunidades, na sua assistência. Certamente, a criação do Fonoaudiólogo se enquadra na Constituição do país e na Lei acima mencionada. Neste caso, nada impediria que a profissão de fonoaudiólogo fosse regulamentada no Brasil, seguindo uma tendência mundial dos países que a adotaram. Mas algo impede, infelizmente. O nosso país de contrastes, conservador e criativo ao mesmo tempo, delonga-se em compreender as vantagens pragmáticas e o alcance social da profissão, e a condição essencial de preparar bem os seus profissionais. A interpretação da Lei 5584, feita pelo CFE através da Resolução 15/76, deixou a classe dos fonoaudiólogos desolada, pois fixava um Currículo Mínimo que os inferiorizava aos seus colegas de todo o mundo - que ouviam em Congressos ou liam em livros - e não os preparava para o exercício da profissão. </p>

            <h2> CONCLUSÃO </h2>
            <p> Pelo que pudemos sentir, o fonoaudiólogo como profissional se forma no mínimo de 3 anos até o máximo de 5 anos. No mundo todo, sua formação, em média, toma 4 anos. Procurando tornar-se livre das técnicas dos antigos professores de dicção e elocução, o profissional fonoaudiólogo não quis enveredar numa especialização na área médica ou pedagógica, porque perderia seu caráter terapêutico amplo. Ao mesmo tempo, observamos que há ainda uma formação desuniforme em diversos países da Europa, ao contrário da América do Norte (Estados Unidos e Canadá), onde a profissão se uniformizou. Há duas grandes organizações internacionais que a representam: a IALP, de origem européia, e a ASHA, de origem americana. A primeira ainda mantém alguns foniatras que a dirigem e já há a participação de logopedistas na direção. A segunda é mantida pelos próprios Speech Pathologists com Grau de PhD, mas nem por isso menos radicais. São severos na concessão de títulos a sócios e no Certificado de Competência Clínica. </p>

            <p> Desde os tempos do seu patrono clássico - Demóstenes - podemos dizer que a profissão cresceu. Hoje é uma realidade incontestável, apesar de todos os seus percalços. A Fonoaudiologia é uma ciência que se apoiou inicialmente na "gestalt" que fez de outras ciências contribuidoras. Nesse final do século XX, caminha independentemente, dentro das ciências da comunicação. Um país acreditou no alcance social da profissão e investiu na Fonoaudiologia: os Estados Unidos. Há outro país que não acreditou ainda, nos benefícios sociais que poderia trazer a sua implantação: o Brasil. </p>

            <p> Nos Estados Unidos a associação oficial - American Speech and Hearing Association -, que responde pela profissão nacionalmente, exige um Certificado de Competência Clínica para que o Bacharel em Fonoaudiologia atue profissionalmente, mesmo depois de formado. Essa banca é composta por pessoas de renome internacional e nacional que o examinam. Isso faz com que os profissionais se preparem muito bem, e cada vez melhor, para a prática profissional. Quem ganhou o crédito com o fato foi a profissão, que é extremamente respeitada no meio médico e educacional nos Estados Unidos. Foi nesse país que a ciência cresceu em pesquisa e teoria. Só profissionais do Canadá e da Inglaterra se ombreiam com o nível científico excepcional do fonoaudiólogo americano. Na maior parte dos países sua formação é de boa para ótima; em muitos poucos países sua formação é deficiente. </p>

            <p> O fonoaudiólogo brasileiro sabe desses progressos que, infelizmente, estão ocorrendo em outros países que não o seu. Conhece o modelo europeu e sabe que foi o implantado no Brasil, reduzido, defasado em teoria e centrado em técnicas, muito empobrecidas. Evidentemente, o fonoaudiólogo brasileiro não quer que o modelo americano seja aplicado na íntegra, mas desejaria que o CFE fizesse, pelo menos, uma análise desse modelo para estudar-se as possibilidades de implantar a profissão no Brasil, partindo daquilo que há de melhor internacionalmente, porém adaptado à nossa cultura e realidade social. À primeira vista, pode parecer uma utopia, mas vamos demonstrar que não se trata de algo impossível, se reorganizarmos os recursos do meio, na seleção de cadeiras apropriadas e de créditos pertinentes, dentro das universidades brasileiras. </p>

            <p>Sempre que houver numa Universidade, faculdades de Psicologia, Medicina ou Letras (Lingüística), o fonoaudiólogo brasileiro poderá estudar, sem ter que se criar faculdades especiais para ele. Com o aproveitamento dos recursos do meio, o estudante de Fonoaudiologia poderá ter uma boa formação, com um currículo pleno, a fim de que trabalhando mais tarde na sua profissão, demonstre tudo que pode dar às comunidades brasileiras nas áreas de voz, fala, linguagem, audição, patológicas. </p>

            <p> Desejamos que o exemplo de 27 países do mundo, reconhecendo a profissão, ampliando-a cada vez mais, inspire o CFE nessa decisão a favor de ampliar também, a Fonoaudiologia no Brasil, com a licenciatura plena e com um bom modelo científico a ser estudado pelos fonoaudiólogos brasileiros. Se a Fonoaudiologia começou como técnica, com dogmas e com explicações metafísicas do seu fenômeno, hoje, fazendo parte das Ciências de Comunicação, pesquisando a comunicação patológica, forma seus profissionais como modernos cientistas, estudando as suas próprias teorias que já levantou nesse século XX e as que certamente levantará no século XXI. Finalmente, a Patologia da Linguagem está sendo compreendida, nesse final de século, como um fenômeno bio-psico-social complexo. A linguagem patológica é uma criação do Homem, estranho ser pensante e dialógico, cujo anti-diálogo a Fonoaudiologia busca compreender filosoficamente, cuja anti-comunicação busca explicar cientificamente. </p>

            <p> Para saber um pouco mais sobre a História da Fonoaudiologia consulte a Dissertação de Mestrado "Da Terapia da Palavra à Fonoaudiologia: Práticas Fonoaudiológicas na Cidade do Rio de Janeiro de 1963 a 1981", de autoria da Fonoaudióloga Vânia Pavão. </p>


    </div>
</div>





