<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>Juramento do fonoaudiólogo</h1> 
        <div class="clear"></div>
    </div>
    <div class="text">
        <p> "Neste momento, ao assumir a profissão de Fonoaudiólogo, obrigo-me solenemente a dedicar meu trabalho à Humanidade, utilizando o domínio desta ciência em todas as suas formas de expressão, prevenindo, orientando e tratando todos aqueles que o necessitarem. 
         Respeitarei os segredos que me forem confiados. Manterei, por todos os meios ao meu alcance, a honra da minha profissão. 
         Não permitirei que considerações de ordem religiosa, de nacionalidade, de raça, de ordem política ou de padrões sociais se interponham entre o meu dever e o meu semelhante e não usarei meus conhecimentos contra as leis humanas. 
         Faço tais promessas solenemente, livremente sob minha palavra de honra." </p> 
        <p> <i>  Adaptação da Declaração de Genebra - 1948 </i> </p> 
       
    </div>
</div>