<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>Legislação</h1> 
        <div class="clear"></div>
    </div>
    <div class="text">
        <h2> Código de Ética </h2>
        <p> (Código de Ética foi aprovado pelo Resolução CFFa nº 305/2004) </p>
        <p> <strong> CAPÍTULO I </strong> </p>
        <p> DAS DISPOSIÇÕES PRELIMINARES</p>
        <p>Art. 1o O presente Código de Ética regulamenta os direitos e deveres dos inscritos nos Conselhos de Fonoaudiologia, segundo suas atribuições específicas.  </p>
        <p>§ 1o - Compete ao Conselho Federal de Fonoaudiologia zelar pela observância dos princípios deste código, funcionar como Conselho Superior de Ética Profissional, além de firmar jurisprudência e atuar nos casos omissos. </p>
        <p>§ 2o - Compete aos Conselhos Regionais, nas áreas de suas respectivas jurisdições, zelar pela observância dos princípios e diretrizes deste código e funcionar como órgão julgador de primeira instância. </p>
        <p>§ 3o - A fim de garantir a execução deste Código de Ética, cabe aos inscritos e aos interessados comunicar aos Conselhos Regionais de Fonoaudiologia, com clareza e embasamento, fatos que caracterizem a inobservância do presente código e das normas que regulamentam o exercício da Fonoaudiologia. </p>
        <p>Art. 2o Os infratores do presente código sujeitar-se-ão às penas disciplinares previstas em lei. </p>
        <p> <strong> CAPÍTULO II </strong> </p>
        <p>DOS PRINCÍPIOS GERAIS</p>
        <p>Art. 3o A Fonoaudiologia é a profissão regulamentada pela Lei no 6.965, de 9 de dezembro de 1981, e pelo Decreto no 87.218, de 31 de maio de 1982. </p>
        <p>Art. 4o  Constituem princípios éticos da Fonoaudiologia:  </p>
        <p>I - o exercício da atividade em benefício do ser humano e da coletividade, mantendo comportamento digno sem discriminação de qualquer natureza;  </p>
        <p>II - a atualização científica e técnica necessária ao pleno desempenho da atividade;  </p>
        <p>III - a propugnação da harmonia da classe. </p>
        <p><strong>CAPÍTULO III </strong></p>
        <p>DOS DIREITOS GERAIS</p>
        <p>Art. 5o Constituem direitos gerais dos inscritos, nos limites de sua competência e atribuições:</p>
        <p>I - exercício da atividade sem ser discriminado;</p>
        <p>II - exercício da atividade com ampla  autonomia e liberdade de convicção;</p>
        <p>III - avaliação, solicitação, elaboração e realização de exame, diagnóstico, tratamento e pesquisa, emissão de parecer, laudo e/ou relatório, docência, responsabilidade técnica, assessoramento, consultoria, coordenação, administração, orientação, realização de perícia e demais procedimentos necessários ao exercício pleno da atividade; </p>
        <p>IV - liberdade na realização de estudos e pesquisas, resguardados os direitos dos indivíduos ou grupos envolvidos em seus trabalhos;</p>
        <p>V - liberdade de opinião e de manifestação de movimentos que visem a defesa da classe; </p>
        <p>VI – requisição de desagravo junto ao Conselho Regional de Fonoaudiologia da sua jurisdição,  quando atingido no exercício da atividade profissional;</p>
        <p>VII – consulta ao Conselho de Fonoaudiologia de sua jurisdição quando houver dúvidas a respeito da observância e aplicação deste Código, ou em casos omissos.</p>
        <p> <strong> CAPÍTULO IV </strong></p>
        <p>DAS RESPONSABILIDADES GERAIS</p>
        <p>Art. 6o São deveres gerais dos inscritos:</p>
        <p>I - observar e cumprir a Lei no 6.965/81, o Decreto no 87.218/82, este Código de Ética, bem como as determinações e normas emanadas dos Conselhos Federal e Regionais de Fonoaudiologia; </p>
        <p>II - exercer a atividade de forma plena, utilizando os conhecimentos e recursos necessários, para promover o bem-estar do cliente e da coletividade;</p>
        <p>III - recusar-se a exercer a profissão quando as condições de trabalho não forem dignas, seguras e salubres;</p>
        <p>IV - apontar falhas nos regulamentos e normas de instituições quando as julgar  incompatíveis com exercício da atividade ou prejudiciais ao cliente, devendo dirigir-se, nesses casos, aos órgãos competentes;</p>
        <p>V - assumir responsabilidades pelos atos praticados;</p>
        <p>VI - resguardar a privacidade do cliente;</p>
        <p>VII - utilizar seu nome e número de registro no Conselho Regional no qual estiver inscrito, em qualquer procedimento fonoaudiológico, acompanhado de rubrica ou assinatura;</p>
        <p>VIII - colaborar, sempre que possível, em campanhas que visem o bem-estar da coletividade; </p>
        <p>IX - tratar com urbanidade e respeito os representantes dos órgãos representativos de classe, quando no exercício de suas atribuições, 
            facilitando o seu desempenho. </p>
        <p>Art. 7o Consiste em infração ética: </p>
        <p>I - utilizar títulos acadêmicos que não possua ou de especialidades para as quais não esteja habilitado; </p>
        <p>II - permitir que pessoas não habilitadas realizem práticas fonoaudiológicas ou valer-se dessas para substituir-se em sua atividade;</p>
        <p>III - adulterar resultados ou fazer declarações falsas sobre quaisquer situações ou circunstâncias da prática fonoaudiológica;</p>
        <p>IV - agenciar, aliciar ou desviar, por qualquer meio, cliente para si ou para terceiros; </p>
        <p>V - receber ou exigir remuneração, comissão ou vantagem por serviços fonoaudiológicos que não tenha efetivamente prestado;</p>
        <p>VI - assinar qualquer procedimento fonoaudiológico realizado por terceiros, ou solicitar que outros profissionais assinem  seus procedimentos.</p>
        <p><strong> CAPÍTULO V </strong></p>
        <p>DO RELACIONAMENTO</p>
        <p>Seção  I  </p>
        <p>Das Responsabilidades do Fonoaudiólogo para com o Cliente</p>
        <p>Art. 8o Define-se como cliente a pessoa física ou jurídica que adquire ou utiliza serviços de  Fonoaudiologia. </p>
        <p>Art. 9o O fonoaudiólogo deve:</p>
        <p>I - respeitar o cliente e não permitir que este seja desrespeitado;</p>
        <p>II - informar ao cliente sua qualificação, responsabilidades e funções, bem como dos demais membros da equipe, quando se fizer necessário;</p>
        <p>III - orientar adequadamente acerca dos propósitos, riscos, custos e alternativas de tratamento, bem como das implicações de tratamentos fonoaudiológicos equivalentes, praticados simultaneamente;</p>
        <p>IV - esclarecer o cliente, apropriadamente, sobre os riscos, as influências sociais e ambientais dos transtornos fonoaudiológicos e sobre a evolução do quadro clínico, bem como sobre  os prejuízos de uma possível interrupção do tratamento fonoaudiológico, ficando  o fonoaudiólogo isento de qualquer responsabilidade, caso o cliente mantenha-se neste propósito;</p>
        <p>V - elaborar, fornecer relatório, resultado de exame, parecer e laudo fonoaudiológico, quando solicitado;</p>
        <p>VI - permitir o acesso do responsável ou representante legal durante avaliação e tratamento, salvo quando sua presença comprometer a eficácia do atendimento;</p>
        <p>VII - permitir o acesso do cliente ao prontuário, relatório, exame, laudo ou parecer elaborados pelo fonoaudiólogo, recebendo explicação necessária à sua compreensão, mesmo quando o serviço for contratado por terceiros.  </p>
        <p>Art. 10. Consiste em infração ética: </p>
        <p>I - abandonar o cliente, salvo por motivo justificável; </p>
        <p>II - executar ou propor tratamento desnecessário ou para o qual o fonoaudiólogo não esteja capacitado;</p>
        <p>III - exagerar ou minimizar o quadro diagnóstico ou prognóstico, complicar a terapêutica ou exceder-se em número de consultas ou em quaisquer outros procedimentos fonoaudiológicos;</p>
        <p>IV - iniciar tratamento de incapazes, sem autorização de seus representantes legais;</p>
        <p>V - utilizar técnicas ou materiais no tratamento que não tenham eficácia comprovada;</p>
        <p>VI - garantir resultados de tratamentos através de métodos infalíveis, sensacionalistas ou de conteúdo inverídico;</p>
        <p>VII - emitir parecer, laudo ou relatório que não correspondam à veracidade dos fatos ou dos quais não tenha participado;</p>
        <p>VIII - obter qualquer vantagem  indevida de seus clientes;</p>
        <p>IX - usar a profissão para corromper, lesar ou alterar a personalidade e/ou a integridade física e/ou psíquica dos clientes ou ser conivente com esta prática.</p>
        <p>Seção  II</p>
        <br>Dos  Profissionais</p>
        <p>Art. 11. O fonoaudiólogo deve:</p>
        <p>I - Atendendo cliente simultaneamente com outro fonoaudiólogo, atuar em comum acordo;</p>
        <p>II - recorrer a outros profissionais, sempre que for necessário. </p>
        <p>Art. 12. Consiste em infração ética: </p>
        <p>I - praticar ou permitir que se pratique concorrência desleal;</p>
        <p>II - ser cúmplice, sob qualquer forma, de pessoas que exerçam ilegalmente a profissão ou cometam infrações éticas;</p>
        <p>III - emitir opinião depreciativa técnico-científica  sobre outro profissional; </p>
        <p>IV - obter ou exigir vantagens indevidas de colegas nas relações profissionais;</p>
        <p>V - deixar de reencaminhar ao profissional responsável o cliente que lhe foi enviado para procedimento específico ou por substituição temporária, salvo por solicitação do cliente ou na iminência de prejuízo deste, devendo o fato ser obrigatoriamente comunicado ao colega;</p>
        <p>VI - utilizar-se de sua posição hierárquica para impedir, prejudicar ou dificultar que seus subordinados realizem seus trabalhos ou 
            atuem dentro dos princípios éticos; </p>
        <p>VII - alterar conduta fonoaudiológica determinada por outro fonoaudiólogo, mesmo quando investido de função de chefia ou de auditoria, salvo em situação de indiscutível prejuízo para o cliente, devendo comunicar imediatamente o fato ao fonoaudiólogo responsável;</p>
        <p>VIII - negar, injustificadamente, colaboração técnica ou serviços profissionais a colega.</p>
        <p> <strong> CAPÍTULO VI </strong></p>
        <p>DO SIGILO PROFISSIONAL</p>
        <p>Art. 13. O fonoaudiólogo deve:</p>
        <p>I - manter sigilo sobre fatos de que tenha conhecimento em decorrência de sua atuação com o cliente, exceto por justo motivo;</p>
        <p>II - guardar sigilo sobre as informações de outros profissionais também comprometidos com o caso;</p>
        <p>III - ao elaborar prontuário de seus clientes conservá-lo em arquivo próprio, evitando o acesso de pessoas estranhas a ele;</p>
        <p>IV - orientar seus colaboradores e alunos quanto ao sigilo profissional.</p>
        <p>§ 1o - Compreende-se como justo motivo, principalmente:</p>
        <p>a) situações em que o seu silêncio ponha em risco a integridade do profissional, do cliente e da comunidade;</p>
        <p>b) cumprimento de determinação judicial.</p>
        <p>§ 2o - Não constitui quebra de sigilo profissional a exposição do tratamento empreendido perante o  Poder Judiciário, nas ações que visem à cobrança de honorários profissionais.</p>
        <p><strong>CAPÍTULO VII </strong></p>
        <p>DA REMUNERAÇÃO PROFISSIONAL</p>
        <p>Art. 14.  Na fixação dos honorários profissionais, podem ser considerados:</p>
        <p>I - a condição socioeconômica do cliente e da comunidade;</p>
        <p>II - a titulação do profissional;</p>
        <p>III - os valores usualmente praticados pela categoria;</p>
        <p>IV - o tempo utilizado na prestação do serviço;</p>
        <p>V - o caráter de permanência, temporariedade ou eventualidade do tratamento;</p>
        <p>VI - o custo operacional.</p>
        <p>Parágrafo único: É direito do fonoaudiólogo apresentar seus honorários, separadamente, quando no atendimento ao cliente participarem outros profissionais.
        <p>Art. 15.  Consiste em infração ética:     </p> 
        <p>I - oferecer ou prestar serviços fonoaudiológicos gratuitos a entidade pública de qualquer natureza ou a empresas, e participar gratuitamente de projetos e outros empreendimentos  que visem lucro;  </p>
        <p>II - receber ou dar gratificação por encaminhamento de cliente; </p>
        <p>III - receber ou cobrar de cliente atendido por convênio ou contrato, valor adicional por serviço já remunerado. </p>
        <p><strong>CAPÍTULO VIII</strong></p>
        <p>DA FORMAÇÃO ACADÊMICA, DA PESQUISA E DA PUBLICAÇÃO</p>
        <p>Art. 16.  Na formação acadêmica, pesquisa e publicação, o fonoaudiólogo  deve: </p>
        <p>I - observar os preceitos deste Código e difundi-los; </p>
        <p>II - dar cunho estritamente impessoal às críticas ou discordâncias de teorias e técnicas de outros profissionais, não visando o autor, e sim 
         o tema ou a matéria; </p>
        <p>III - quando da utilização de dados ou imagens que possam identificar o cliente, obter deste ou de seu representante legal, consentimento livre e esclarecido; </p>
        <p>IV - responsabilizar-se por serviços fonoaudiológicos, produções acadêmicas e científicas executados pelos alunos sob sua supervisão.</p>
        <p>Art. 17.  Consiste em infração ética: </p>
        <p>I - falsear dados ou deturpar sua interpretação; </p>
        <p>II - divulgar ou utilizar técnicas ou materiais que não tenham eficácia comprovada;</p>
        <p>III - servir-se de sua posição hierárquica para impedir ou dificultar que o colega utilize as instalações e demais recursos das instituições ou setores sob sua direção, no desenvolvimento de pesquisa, salvo estrito cumprimento do dever legal; </p>
        <p>IV - aproveitar-se de posição hierárquica para fazer constar seu nome na co-autoria de obra científica da qual não tenha participado;</p>
        <p>V - apresentar como sua, no todo ou em parte, obra científica de outrem, ainda que não publicada;</p>
        <p>VI - utilizar-se, sem referência ao autor ou sem sua autorização expressa, de dados, informações ou opiniões coletadas em partes já publicadas ou não;</p>
        <p>VII - utilizar-se da influência do cargo para aliciamento ou encaminhamento de clientes para clínica particular;</p>
        <p>VIII - desatender às normas do órgão competente e à legislação sobre pesquisa.</p>
        <p> <strong> CAPÍTULO IX </strong> </p>
        <p>DA MÍDIA</p>
        <p>Seção  I </p>
        <p>Dos Veículos de Comunicação </p>
        <p>Art. 18.  Ao promover publicamente os seus serviços, o fonoaudiólogo deve fazê-lo com exatidão e dignidade, observando os preceitos deste Código, bem como as normas dos Conselhos Federal e Regionais e Federal. </p>
        <p>Art. 19.  A utilização da Internet para fins profissionais deve seguir os preceitos deste Código e demais normatizações pertinentes. </p>
        <p>Seção  II </p>
        <p>Da Propaganda e da Publicidade </p>
        <p>Art. 20. Nos anúncios, placas e impressos devem constar o nome do profissional, da profissão   e o número de inscrição no Conselho Regional, podendo ainda constar:
        <p>I - as especialidades para as quais o fonoaudiólogo esteja habilitado; </p>
        <p>II - os títulos de formação acadêmica; </p>
        <p>III - o endereço, telefone, endereço eletrônico, horário de trabalho, convênios e  credenciamentos; </p>
        <p>IV - instalações, equipamentos e métodos de tratamento; </p>
        <p>V - logomarca, logotipo ou heráldicos relacionados à Fonoaudiologia. </p>
        <p>Art. 21.  Consiste em infração  ética:  </p>
        <p>I - anunciar preços e modalidade de pagamento em publicações abertas, exceto na divulgação de cursos, palestras, seminários e afins; </p>
        <p>II - consultar, diagnosticar ou prescrever tratamento por quaisquer meios de comunicação de massa; </p>
        <p>III - induzir a opinião pública a acreditar que exista reserva de atuação clínica para determinados procedimentos.
        <p>Seção  III  </p>
        <p>Da  Entrevista </p>
        <p>Art. 22. O profissional inscrito pode utilizar-se de veículos de comunicação para conceder entrevistas ou divulgar palestras públicas sobre assuntos fonoaudiológicos, de interesse social e com finalidade educativa. </p>
        <p> <strong> CAPÍTULO X </strong> </p>
        <p>DA OBSERVÂNCIA, APLICAÇÃO E CUMPRIMENTO DO CÓDIGO DE ÉTICA</p>
        <p>Art. 23. Cabe ao Conselho de Fonoaudiologia competente, onde está inscrito o fonoaudiólogo, a apuração das faltas que cometer contra este Código e aplicação das penalidades previstas na legislação em vigor. </p>
        <p>Parágrafo único: Comete grave infração o fonoaudiólogo que deixar de atender às solicitações, notificações, intimações ou convocações dos Conselhos Federal e Regionais de Fonoaudiologia. </p>
        <p>Art. 24. Os preceitos deste Código são de observância obrigatória e sua violação sujeitará o infrator e quem, de qualquer modo, com ele concorrer para a infração, às penas previstas na Lei 6.965/ 81. </p>
        <p>Art. 25. Os fonoaudiólogos estrangeiros, quando atuarem em território nacional, obrigam-se ao cumprimento das normas e preceitos deste Código.
        <p> <strong> CAPÍTULO XI  </strong> </p>
        <p>DAS DISPOSIÇÕES FINAIS</p>
        <p>Art. 26. As dúvidas na observância deste Código e os casos omissos, encaminhados pelos Conselhos Regionais, serão apreciados e julgados pelo Conselho Federal de Fonoaudiologia. </p>
        <p>Art. 27. Este Código poderá ser alterado pelo Conselho Federal de Fonoaudiologia, por iniciativa própria ou mediante proposta dos Conselhos Regionais. </p>
        <p>Art. 28.  Este Código entra em vigor na data de sua publicação, revogadas todas as disposições em contrário. </p>
        <p>Brasília, 06 de março de 2004 </p>
        <p><i> Maria Thereza Mendonça C. de Rezende </i> </p>
        <p><i> Presidente </i> </p>
       
    </div>
</div>