<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>Livros recomendados</h1> 
        <div class="clear"></div>
    </div>
    <div class="text">
        <h5> Separamos alguns livros que a gente imagina que seja de grande importância para a sua vida 
            acadêmica e profissional </h5>
            <p> <img src="images/temp/temp_slide_3.jpg" alt="" width="220" height="156" class="frame_left"> </p>
            <p>    
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
            </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Duis aute irure </li>
                <li><strong>Editora:</strong> Duis aute irure </li>
                <li><strong>Autor:</strong> Duis aute irure </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/temp/temp_slide_3.jpg" alt="" width="220" height="156" class="frame_left"> </p>
            <p>    
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
            </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Duis aute irure </li>
                <li><strong>Editora:</strong> Duis aute irure </li>
                <li><strong>Autor:</strong> Duis aute irure </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/temp/temp_slide_3.jpg" alt="" width="220" height="156" class="frame_left"> </p>
            <p>    
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
            </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Duis aute irure </li>
                <li><strong>Editora:</strong> Duis aute irure </li>
                <li><strong>Autor:</strong> Duis aute irure </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/temp/temp_slide_3.jpg" alt="" width="220" height="156" class="frame_left"> </p>
            <p>    
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
            </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Duis aute irure </li>
                <li><strong>Editora:</strong> Duis aute irure </li>
                <li><strong>Autor:</strong> Duis aute irure </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/temp/temp_slide_3.jpg" alt="" width="220" height="156" class="frame_left"> </p>
            <p>    
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
            </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Duis aute irure </li>
                <li><strong>Editora:</strong> Duis aute irure </li>
                <li><strong>Autor:</strong> Duis aute irure </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/temp/temp_slide_3.jpg" alt="" width="220" height="156" class="frame_left"> </p>
            <p>    
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
            </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Duis aute irure </li>
                <li><strong>Editora:</strong> Duis aute irure </li>
                <li><strong>Autor:</strong> Duis aute irure </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/temp/temp_slide_3.jpg" alt="" width="220" height="156" class="frame_left"> </p>
            <p>    
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
            </p>    <ul class="list_arrows">
                <li><strong>Título:</strong> Duis aute irure </li>
                <li><strong>Editora:</strong> Duis aute irure </li>
                <li><strong>Autor:</strong> Duis aute irure </li>
            </ul>
       
        <div class="divider_dots_full"></div>
        <p> 
                <img src="images/temp/temp_slide_3.jpg" alt="" width="220" height="156" class="frame_left">
            </p>
            <p>    
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
                 Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
            </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Duis aute irure </li>
                <li><strong>Editora:</strong> Duis aute irure </li>
                <li><strong>Autor:</strong> Duis aute irure </li>
            </ul>
       
        <div class="divider_dots_full"></div>
        <p> 
                <img src="images/temp/temp_slide_3.jpg" alt="" width="220" height="156" class="frame_left">
            </p>
            <p>    
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
                 Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
            </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Duis aute irure </li>
                <li><strong>Editora:</strong> Duis aute irure </li>
                <li><strong>Autor:</strong> Duis aute irure </li>
            </ul>
       
        <div class="divider_dots_full"></div>
        <p> 
                <img src="images/temp/temp_slide_3.jpg" alt="" width="220" height="156" class="frame_left">
            </p>
            <p>    
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
                 Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
            </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Duis aute irure </li>
                <li><strong>Editora:</strong> Duis aute irure </li>
                <li><strong>Autor:</strong> Duis aute irure </li>
            </ul>
       
        <div class="divider_dots_full"></div>
        
    </div>
</div>