<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>Livros recomendados</h1> 
        <div class="clear"></div>
    </div>
    <div class="text">
            <p> Separamos alguns livros que a gente imagina que seja de grande importância para a sua vida 
            acadêmica e profissional </p>
            <p> Em breve, reformularemos essa sessâo e você poderá comprar o livro aqui mesmo pelo site. Fique ligado! </p>
            <p> Tem algum livro que não pode fazer falta nessa lista? Envie o nome do livro através do nosso <%= link_to "fale conosco", "/faleconosco", :target => "_blank" %> e nos diga. Ele aparecerá aqui! </p> 
            <p> <img src="images/livros/disturbios-neurologicos-adiquiridos-fala.png" alt="Distúrbios Neurológicos Adquiridos - Fala e Deglutição" title="Distúrbios Neurológicos Adquiridos - Fala e Deglutição" class="frame_left"> </p>
            <!-- <p>    
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
                Sliders in all forms colors: Javascript, Flash, you name it! We've got it! But the best part is that they can be easily modified to fit your company's look feel. 
            </p> --> 
            <ul class="list_arrows">
                <li><strong>Título:</strong> Distúrbios Neurológicos Adquiridos - Fala e Deglutição </li>
                <li><strong>Editora:</strong> Manole </li>
                <li><strong>Páginas:</strong> 324 </li>
                <li><strong>Ano:</strong> 2009 / 2º edição </li>
                <li><strong>Autor:</strong>  Karin Zazo Ortiz </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/livros/disfagia.png" alt="Disfagia" title="Disfagia" class="frame_left"> </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Disfagia </li>
                <li><strong>Editora:</strong> Sarvier </li>
                <li><strong>Páginas:</strong> 259 </li>
                <li><strong>Ano:</strong> 2012 / 1º edição </li>
                <li><strong>Autores:</strong>  Cláudia R. Furquim de Andrade & Suely Cecilia O.Limongi </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/livros/disfagias-orofaringeas.png" alt="Disfagias Orofaringeas vol.1" title="Disfagias Orofaringeas vol.1" class="frame_left"> </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Disfagias Orofaringeas vol.1 </li>
                <li><strong>Editora:</strong> Pró-Fono </li>
                <li><strong>Páginas:</strong> 259 </li>
                <li><strong>Ano:</strong> 2012 / 1º edição </li>
                <li><strong>Autores:</strong>  Ana Maria Furkim & Célia Salviani Santini </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/livros/disfagias-orofaringeas-vol2.png" alt="Disfagias Orofaringeas vol.2" title="Disfagias Orofaringeas vol.2" class="frame_left"> </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Disfagias Orofaringeas vol.2 </li>
                <li><strong>Editora:</strong> Pró-Fono </li>
                <li><strong>Páginas:</strong> 238 </li>
                <li><strong>Ano:</strong> 2008 / 1º edição </li>
                <li><strong>Autores:</strong>  Ana Maria Furkim & Célia Salviani Santini </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/livros/disturbios-neurologicos-adquiridos.png" alt="Distúrbios Neurológicos Adquiridos - Linguagem e Cognição" title="Distúrbios Neurológicos Adquiridos - Linguagem e Cognição" class="frame_left"> </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong>  Distúrbios Neurológicos Adquiridos - Linguagem e Cognição </li>
                <li><strong>Editora:</strong> Manole </li>
                <li><strong>Páginas:</strong> 408 </li>
                <li><strong>Ano:</strong> 2009 / 2º edição </li>
                <li><strong>Autora:</strong>  Karin Zazo Ortiz  </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/livros/dislexia-e-outros-disturbios-da-leitura-escrita.png" alt="Dislexia e outros distúrbios da leitura - escrita" title="Dislexia e outros distúrbios da leitura - escrita" class="frame_left"> </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Dislexia e outros distúrbios da leitura - escrita</li>
                <li><strong>Editora:</strong> Pulso </li>
                <li><strong>Páginas:</strong> n/a  </li>
                <li><strong>Ano:</strong> 2009 / 2º edição </li>
                <li><strong>Autores:</strong>  Jaime Luiz Zorzi & Simone Aparecida Capellini </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/livros/voz-o-livro-do-especialista.png" alt="Voz o Livro do Especialista Vol. 1" title="Voz o Livro do Especialista Vol. 1" class="frame_left"> </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Voz o Livro do Especialista Vol. 1 </li>
                <li><strong>Editora:</strong> Revinter </li>
                <li><strong>Páginas:</strong> 366 </li>
                <li><strong>Ano:</strong> n/a / 1º edição </li>
                <li><strong>Autora:</strong>  Mara Behlau </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/livros/voz-o-livro-do-especialista-vol2.png" alt="Voz o Livro do Especialista Vol. 2" title="Voz o Livro do Especialista Vol. 2" class="frame_left"> </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Voz o Livro do Especialista Vol. 2 </li>
                <li><strong>Editora:</strong> Revinter </li>
                <li><strong>Páginas:</strong> n/a </li>
                <li><strong>Ano:</strong> n/a / 1º edição </li>
                <li><strong>Autora:</strong>   Mara Behlau </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/livros/reabilitacao-da-afasia-e-transtornos-associados.png" alt="Reabilitação da Afasia e Transtornos Associados" title="Reabilitação da Afasia e Transtornos Associados"  class="frame_left"> </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Reabilitação da Afasia e Transtornos Associados </li>
                <li><strong>Editora:</strong> Manole Biomedicina </li>
                <li><strong>Páginas:</strong> n/a </li>
                <li><strong>Ano:</strong> n/a / 2º edição </li>
                <li><strong>Autores:</strong> J. Pena Casanova & M. PÉrez Pamies </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/livros/tratado-de-audiologia.png" alt="Tratado de audiologia" title="Tratado de audiologia" class="frame_left"> </p>
            <p> A Audiologia Brasileira impõe a necessidade de organização e divulgação do conhecimento produzido nacionalmente. Foi nessa perspectiva que os diretores da Academia Brasileira de Audiologia - Gestão 2009-2011 se propuseram a organizar este livro, no qual o  tema é apresentado pelos autores com vasta experiência profissional e de pesquisa. </p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Tratado de audiologia </li>
                <li><strong>Editora:</strong> Santos </li>
                <li><strong>Páginas:</strong> n/a </li>
                <li><strong>Ano:</strong> 2011 / 1º edição </li>
                <li><strong>Autores:</strong>   Bevilacqua, M.C.; Martinez, M.A.N.; Balen, S.A.; Pupo, A.C.; Reis, A.C.M.; Frota, S. </li>
            </ul>
            <div class="divider_dots_full"></div>
            <p> <img src="images/livros/tratado-de-fonoaudiologia.png" alt="Tratado de fonoaudiologia" title="Tratado de fonoaudiologia"  class="frame_left"> </p>
            <p> Esta obra abrange as inúmeras possibilidades de atuação do fonoaudiólogo na realidade brasileira. Elaborada pelos maiores especialistas brasileiros, é obra de referência fundamental para os estudantes e profissionais da fonoaudiologia.</p>
            <ul class="list_arrows">
                <li><strong>Título:</strong> Tratado de fonoaudiologia </li>
                <li><strong>Editora:</strong> Roca </li>
                <li><strong>Páginas:</strong> n/a </li>
                <li><strong>Ano:</strong> n/a / 2º edição </li>
                <li><strong>Autores:</strong>  Ferreira & Leslie Piccolotto </li>
            </ul>
              
       
        
    </div>
</div>