<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>O que é fonoaudiologia?</h1> 
        <div class="clear"></div>
    </div>
    <div class="text">
        <%= image_tag "fono_logo.jpg", :alt => "", :title => "", :class => "frame_left" %> 
    	<p> Fonoaudiologia é a profissão da saúde que estuda a Comunicação Humana. É responsável por atuar nas áreas de Audiologia, Voz, Motricidade Orofacial e Linguagem nas quais, tem o dever de diagnosticar, orientar e tratar. Os profissionais desta área atuam tanto na saúde, como também na educação. Não importa em que área a Fonoaudiologia atue, 
        o principal objetivo dela é melhorar a qualidade de vida. </p>
        <p> Segundo a <%= link_to "Wikipedia", "http://pt.wikipedia.org/wiki/Fonoaudiologia", :target => "blank"  %>,  
            "Fonoaudiologia é a ciência que tem como objeto de estudo as funções neurovegetativas (mastigação, deglutição e aspectos funcionais da respiração) e a comunicação humana, que é a função neurológica mais complexa que o sistema nervoso pode processar, no que se refere ao seu desenvolvimento, aperfeiçoamento, distúrbios e diferenças, em relação aos aspectos envolvidos na função auditiva periférica e central, na função vestibular, na função cognitiva, na linguagem oral e escrita, na fala, na fluência, na voz, nas funções estomatognáticas, orofaciais e na deglutição." 
        </p>
        <p> O fonoaudiólogo é um profissional da saúde e atua em pesquisa, orientação, perícias, prevenção, avaliação, diagnóstico e tratamento fonoaudiológico na área da comunicação oral e escrita, voz, audição e equilíbrio, sistema nervoso e sistema estomatognático incluindo a região cérvicofacial. Este profissional tem ampla autonomia, não sendo subordinado ou mero auxiliar de outras áreas do conhecimento ou especialidades, pode atuar sozinho ou em conjunto com outros profissionais de saúde em clínicas, hospitais,centros especializados em diagnósticos, intitutos gerais de perícia, centros de referência em saúde do trabalhador, como auxilidar do poder judiciário no âmbito das perícias judiciais que envolvem a área da audição, fala e linguagem, equilíbrio e demais áreas correlatas, nas esferas cível, trabalhista e criminal, em creches e escolas (comuns e especiais), unidades básicas de saúde, unidades de referência para a média e alta complexidade de procedimentos do SUS, emissoras de rádio e televisão, teatro, atendimento domiciliar, empresas de próteses auditivas, indústrias, centros de habilitação e reabilitação, entre outros. </p>
        <h4> Atribuições do Fonoaudiólogo </h4>
        <p> Segundo o web site <%= link_to "fonoaudiologia.com", "http://www.fonoaudiologia.com/publico/atribuicoes-publico.htm", :target => "blank"  %>, "O Bacharelado em Fonoaudiologia, objetiva a formação de profissionais da saúde voltados para os problemas da comunicação humana, incentivando o desenvolvimento de uma nova ciência que muito poderá contribuir para a efetiva participação do indivíduo na sociedade. O curso forma profissionais de saúde voltados para os problemas da comunicação humana , incentivando o desenvolvimento de uma nova ciência que muito poderá contribuir para efetiva participação do indivíduo na sociedade. </p>
        <p> O Fonoaudiólogo caracteriza-se como um indivíduo criativo, curioso, versátil, com habilidades manuais, paciente, pesquisador, persistente, flexível, dinâmico e postura profissional. </p>
    </div>
</div>





