<div class="divider_thin"></div>
<div class="grid_24 suffix_1 content">
    <div class="cat_title">
        <h1>Termos de uso</h1> 
        <div class="clear"></div>
    </div>
    <div class="text">
        <p> <strong> 1 Da aceitação: </strong> </p>
        <p> 1.1) O uso deste site implica, impreterivelmente, a aceitação das condições de uso abaixo descritas.</p>
        <p> <strong> 2 Do Conteúdo: </strong> </p>
        <p> 2.1) Salvo observação em contrário, todo o conteúdo exposto neste site é de propriedade do Portal da fono, de terceiros que cederem o seu direito de uso ou ainda, de domínio público.</p>
        <p> 2.2) Somente mediante autorização expressa do Portal da fono, será permitido ao usuário do site reproduzir, transferir, distribuir ou armazenar, de forma parcial ou na íntegra, o conteúdo disponibilizado no site. Não se incluem na presente vedação a impressão de material escrito e gráfico para uso exclusivamente pessoal.</p>
        <p> 2.3) Os documentos de domínio público disponibilizados neste site somente poderão ser utilizados para uso privado e não-comercial. </p>
        <p> <strong> 3 Da responsabilidade: </strong> </p>
        <p> 3.1) Todo o conteúdo disponibilizado no site é oferecido no "estado em que se encontra", podendo ser alterado a qualquer momento e não sendo garantida a sua permanente disponibilidade.</p>
        <p> 3.2) O Portal da fono não garante que o conteúdo do site, bem como os serviços eventualmente neste oferecidos, estejam precisamente atualizados ou completos, de modo que não se responsabiliza por eventuais danos causados por erros de conteúdo.</p>
        <p> 3.3) O Portal da fono não se responsabiliza pelo uso indevido do conteúdo disponibilizado no site, como também não responde pelos danos que porventura poderão resultar deste ato.</p>
        <p> 3.4) Não é oferecida nenhuma garantia de que a disponibilização do site não sofra interrupção por problemas de ordem técnica.</p>
        <p> 3.5) O site pode conter links para sites operados por terceiros, sendo que, nesta hipótese, o Porta da fono não será responsável pelo seu conteúdo, tampouco pela contínua disponibilidade de acesso. Neste ato, o usuário declara-se ciente de que o Portal da fono não tem qualquer controle sobre o conteúdo de tais sites e não pode assumir qualquer responsabilidade sobre materiais criados ou publicados por estes.</p>
        <p> 3.6) O provimento adequado de todos os recursos de software e hardware necessário para o acesso adequado ao site é de exclusiva responsabilidade do usuário.</p>
        <p> <strong> 4 Da disponibilidade técnica e da manutenção site: </strong> </p>
        <p> 4.1) As características dos produtos expostos neste site podem ser alteradas a qualquer momento, sem aviso prévio; </p>
        <p> 4.2) Os produtos e serviços expostos à comercialização poderão ser alterados ou excluídos temporária ou permanentemente do site;</p>
        <p> 4.3) Os preços dos produtos indicados no site poderão ser alterados a qualquer momento sem aviso prévio, salvo quando especificado uma data de validade para os mesmos;</p>
        <p> 4.4)  Em razão de manutenção, atualização ou mesmo por problemas técnicos, o site poderá a qualquer momento ficar desativado temporariamente; </p>
        <p> 4.5) O Portal da fono se reserva o direito de, a seu livre critério, alterar as funcionalidades deste site, visando a melhoria do seu acesso, bem como da visualização e utilização do conteúdo.</p>
        <p> <strong> 5 Dos serviços oferecidos no site: </strong> </p>
        <p> 5.1) A venda on-line (e-commerce) de produtos do Portal da fono, conforme Termos e condições de Venda desta empresa;</p>
        <p> 5.2) A qualquer momento, e sem aviso prévio, o Portal da fono poderá a seu livre critério não mais ofertar serviços no site.</p>
        <p> <strong> 6 Das informações colhidas no site: </strong> </p>
        <p> 6.1 Ao enviar material para quaisquer de nossos servidores, por exemplo, por e-mail ou através do site, o usuário concorda que: </p>
        <p> a) O material não conterá qualquer item que seja ilegal ou inadequado para publicação;</p>
        <p> b) Enviará esforços razoáveis para identificar e remover quaisquer vírus ou outras funções contaminadoras ou destrutivas antes do envio de qualquer material; </p>
        <p> 6.2) Em qualquer situação de prestação de informações pelo usuário ao Portal da fono, serão observados rigorosamente os termos da Política de Privacidade desta empresa;</p>
        <p> <strong>7 Das marcas comerciais </strong></p>
        <p> 7.1) As marcas comerciais, bem como as logomarcas, apresentadas neste site, registradas ou não, são de propriedade do Portal da fono, sendo que a publicação no site não configura a concessão de livre utilização por parte do usuário ou de terceiros. </p>
        <p> <strong>8 Contato com o Portal da fono </strong></p>
        <p> 8.1) Caso você possua alguma dúvida ou sugestão e deseje contatar o Portal da fono, poderá fazê-lo preferenciamente pelo nosso fale conosco ou através do email: mknparreira@gmail.com</p>
    </div>
</div>