.doubts-list a, .back_post a{ color: #262626 !important; }
.doubts-list a:hover, .back_post a:hover { text-decoration: underline; }
.linha_amarela{ border-bottom: 1px solid yellow !important; }
.new_doubt input { width: 400px; height: 30px; }
.new_doubt textarea { width: 400px;}
.btn_doubt_enviar{ width: 124px !important; height: 45px !important; }
.btn_doubt_enviar:hover { background: red; color: white !important; }
/* .new_doubt label {
	color: #3E3A32;
	display: inline;
	width: 80px;
	padding-top: 5px;
} */
.new_doubt input, .new_doubt textarea {
	display: inline;
	border: 1px solid #A8998C;
	background-color: #70665C;
	padding: 5px 10px;
	color: #FAF8E8;
}
.block_doubt_facebook{ position: relative; left: 126px; margin-top: 20px; }
.block_doubt_facebook a { padding-left: 40px; }
.cat_title { margin: 0px !important; }

.post-detail{ margin: 15px 0px 0px 0px; }

.back_post a{ font-weight: bold;}