<h1>Newsletter</h1>
<% if @admin_newsletters.present? %>
<table>
  <tr>
    <th> ID </th>
    <th>Email</th>
    <th>Data</th>
    <th></th>
    <th></th>
  </tr>

<% @admin_newsletters.each do |admin_newsletter| %>
  <tr>
    <td><%= admin_newsletter.id %></td>
    <td><%= admin_newsletter.email %></td>
    <td><%= admin_newsletter.created_at.strftime("%d/%m/%Y") %></td>
    <td><%= link_to 'Excluir', [:admin, admin_newsletter], confirm: 'Deseja realmente excluir?', method: :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
  <div> Nenhum registro encontrado </div>
<% end %>
<br />

