<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Painel de administração do site Portaldafono</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%#= stylesheet_link_tag    "admin/application", :media => "all" %>
  <%#= javascript_include_tag "admin/application" %>
  <%#= csrf_meta_tags %>
  <link href="/assets/admin/style.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/assets/admin/jquery.wysiwyg.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/assets/admin/facebox.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/assets/admin/visualize.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/assets/admin/date_input.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="hld">
		<div class="wrapper">		
			<% if @current_controller != "login"  %>
				<%= render :partial => "admin/index/menu" %>
			<% end %>				
			<%= yield %>
	</div>	</div>	
	<script type="text/javascript" src="/assets/admin/jquery.js"></script>
	<script type="text/javascript" src="/assets/admin/jquery.img.preload.js"></script>
	<script type="text/javascript" src="/assets/admin/jquery.filestyle.mini.js"></script>
	<script type="text/javascript" src="/assets/admin/jquery.wysiwyg.js"></script>
	<script type="text/javascript" src="/assets/admin/jquery.date_input.pack.js"></script>
	<script type="text/javascript" src="/assets/admin/facebox.js"></script>
	<script type="text/javascript" src="/assets/admin/jquery.visualize.js"></script>
	<script type="text/javascript" src="/assets/admin/jquery.visualize.tooltip.js"></script>
	<script type="text/javascript" src="/assets/admin/jquery.select_skin.js"></script>
	<script type="text/javascript" src="/assets/admin/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="/assets/admin/ajaxupload.js"></script>
	<script type="text/javascript" src="/assets/admin/jquery.pngfix.js"></script>
	<script type="text/javascript" src="/assets/admin/custom.js"></script>
<%= render :partial => "admin/index/footer" %>
</body>
</html>
